{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}

{% block page-metadata %}
{% include "calisphere/microdata.html" with title='About' %}
{% endblock %}

{% block content %}

<h1>About Calisphere</h1>

<!-- Begin Static About Component -->

<div class="static">

  <div class="col-sm-8 static__main">

		<p>Welcome to Calisphere: your gateway to California’s remarkable digital collections. Calisphere provides free access to unique and historically important artifacts for research, teaching, and curious exploration. Discover over two million photographs, documents, letters, artwork, diaries, oral histories, films, advertisements, musical recordings, and more.</p>

		<p>The collections in Calisphere have been digitized and contributed by all ten campuses of the <a href="/institutions/" data-pjax="js-pageContent">University of California</a> and other important <a href="/institutions/statewide-partners/" data-pjax="js-pageContent">libraries, archives, and museums</a> throughout the state.</p>
    
    <p>Learn more about Calisphere by watching this introductory video.</p>
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/486486841?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <h2>About the collections in Calisphere</h2>
    <p>Calisphere provides free access to more than 2,000 collections contributed by more than 300 cultural heritage organizations (libraries, archives, museums, and historical societies) in California. Each of these organizations has specific collection emphases, which may be informed by local history, activities, research interests, or other topics significant to its communities.</p>
    <p>Learn more <a href="/overview/" data-pjax="js-pageContent">about the collections in Calisphere</a>, including how primary source records are described; how shared community values and standards guide access to historical materials; how we strive to provide responsible access to digital primary sources--and how you can help!</p>
    
    <h2>Using Calisphere</h2>
		<p>For more information about how to use Calisphere and the materials you find here, please consult the <a href="/help/" data-pjax="js-pageContent">FAQ page</a> and <a href="/terms/" data-pjax="js-pageContent">terms of use</a>. Special information about using Calisphere in the classroom can be found on our <a href="/for-educators" data-pjax="js-pageContent">For Educators page</a>.</p>

		<h2>Add your collections</h2>

  	<p>Calisphere aggregates digital collections from libraries, archives, museums, historical societies, and other cultural heritage organizations in California. If you represent such an organization and are interested in contributing digital content to Calisphere, learn more about <a href="/contribute/" data-pjax="js-pageContent">becoming a contributing partner</a>.</p>

		<h2>Subscribe to our newsletter</h2>

  	<p>Be the first to hear about new collections and exhibitions, posters, and online research tips and resources! <a href="http://eepurl.com/cTM_Cb">Subscribe</a> if you'd like the latest news from Calisphere delivered right to your inbox.</p> 
    
    <h2>Free posters!</h2>

  	<p>We offer free posters for students, teachers, and librarians. Visit the <a href="/posters/" data-pjax="js-pageContent">poster order page</a> for more details.</p>

 		<h2>Spread the word</h2>

  	<p>Love Calisphere? Help us spread the word! Check out our <a href="/outreach/" data-pjax="js-pageContent">outreach tips and tools</a> for sharing Calisphere with others.</p>

 		<h2>Our organization</h2>

		<p>Calisphere is a project of the <a href="http://libraries.universityofcalifornia.edu">University of California Libraries</a>, developed and maintained by the <a href="http://www.cdlib.org">California Digital Library</a>.</p>
    <p>Information about Calisphere's technical framework can be found on our <a href="/help/#11" data-pjax="js-pageContent">FAQ page</a>.</p>

  </div>

  <div class="col-sm-4 sidebar">

    <h2>Share your story</h2>
    <p>Has Calisphere helped you advance your research, complete a project, or find something meaningful? We'd love to hear about it. Stories like yours can help us obtain additional funding to grow and improve the site.</p><p>Please <a href="/contact/" data-pjax="js-pageContent">send us a message</a>.</p>

  </div>

</div>

<!-- End Static About Component -->
{{ q }}
{% endblock %}
