{% extends "calisphere/base.html" %}
{% load calisphere-extras %}
{% load static %}

{% block page-metadata %}
{% include "calisphere/microdata.html" with title='UC Partners' %}
{% endblock %}

{% block content %}

{% include "calisphere/institutionsHeader.html" %}

<div class="inst-textboxes">
{% for campus in campuses %}
	<div class="inst-textboxes__box">
		<h2 class="inst-textboxes__box-heading">
      <a href="{% url 'calisphere:campusCollections' campus.slug %}">{{ campus.name }}</a>
    </h2>
		<ul class="inst-textboxes__list">
  {% for repository in repositories %}
    {% if repository.campus == campus.name %}
      <li class="inst-textboxes__list-item">
        <a class="inst-textboxes__link" href="{% url 'calisphere:repositoryCollections' repository.repository_id %}">
          {{ repository.name }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
  	</ul>
  </div>
{% endfor %}
</div>

{% endblock %}
