{% load calisphere-extras %}
{% load humanize %}

  {% if q != '' %}
    <div class="carousel__search-results" data-set="search-results-set">
      {% if rq|length > 0 %}
        <strong>Other items</strong> in your search results for "{{ q }}, {{ rq|join:", " }}" ({{ numFound|intcomma }} found)
      {% else %}
        <strong>Other items</strong> in your search results for "{{ q }}" ({{ numFound|intcomma }} found)
      {% endif %}
    </div>
  {% elif referral == 'institution' %}
    <div class="carousel__search-results" data-set="institution-set">
      {% if rq|length > 0 %}
        <strong>Other items</strong> in your search results for "{{ rq|join:", " }}" ({{ numFound|intcomma }} found)
      {% else %}
        <strong>Other items</strong> at {{ referralName }} ({{ numFound|intcomma }} found)
      {% endif %}
    </div>
  {% elif referral == 'campus' %}
    <div class="carousel__search-results" data-set="campust-set">
      {% if rq|length > 0 %}
        <strong>Other items</strong> in your search results for "{{ rq|join:", " }}" ({{ numFound|intcomma }} found)
      {% else %}
        <strong>Other items</strong> at {{ referralName }} ({{ numFound|intcomma }} found)
      {% endif %}
    </div>
  {% elif referral == 'collection' %}
    <div class="carousel__search-results" data-set="collection-set">
      {% if rq|length > 0 %}
        <strong>Other items</strong> in your search results for "{{ rq|join:", " }}" ({{ numFound|intcomma }} found)
      {% else %}
        <strong>Other items</strong> in {{ referralName }} ({{ numFound|intcomma }} found)
      {% endif %}
    </div>
  {% else %}
    <div class="carousel__search-results" data-set="mlt-set">
      <strong>Similar items</strong> on Calisphere
    </div>
  {% endif %}

  <div class="carousel__items-number" id="js-linkBack">
    {% if q != '' %}
      <a href="{% url 'calisphere:search' %}?q={{ q }}{% if rq|length > 0 %}{% for r in rq %}&rq={{ r }}{% endfor %}{% endif %}" data-pjax="js-pageContent">
        back to search results
      </a>
    {% elif referral == 'collection' %}
      {% if rq|length > 0 %}
        <a href="{% url 'calisphere:collectionView' linkBackId %}?{% if rq|length > 0 %}{% for r in rq %}&rq={{ r }}{% endfor %}{% endif %}" data-pjax="js-pageContent">
          back to search results
        </a>
      {% else %}
        <a href="{% url 'calisphere:collectionView' linkBackId %}?{% if rq|length > 0 %}{% for r in rq %}&rq={{ r }}{% endfor %}{% endif %}" data-pjax="js-pageContent">
          back to {{ referralName }}
        </a>
      {% endif %}
    {% elif referral == 'institution' %}
      {% if rq|length > 0 %}
        <a href="{% url 'calisphere:repositoryView' linkBackId 'items' %}?{% if rq|length > 0 %}{% for r in rq %}&rq={{ r }}{% endfor %}{% endif %}" data-pjax="js-pageContent">
          back to search results
        </a>
      {% else %}
        <a href="{% url 'calisphere:repositoryView' linkBackId 'items' %}?{% if rq|length > 0 %}{% for r in rq %}&rq={{ r }}{% endfor %}{% endif %}" data-pjax="js-pageContent">
          back to {{ referralName }}
        </a>
      {% endif %}
    {% elif referral == 'campus' %}
      {% if rq|length > 0 %}
        <a href="{% url 'calisphere:campusView' linkBackId 'items' %}?{% if rq|length > 0 %}{% for r in rq %}&rq={{ r }}{% endfor %}{% endif %}" data-pjax="js-pageContent">
          back to search results
        </a>
      {% else %}
        <a href="{% url 'calisphere:campusView' linkBackId 'items' %}?{% if rq|length > 0 %}{% for r in rq %}&rq={{ r }}{% endfor %}{% endif %}" data-pjax="js-pageContent">
          back to {{ referralName }}
      {% endif %}
    {% else %}
      &nbsp;
    {% endif %}
  </div>

  <form id="js-carouselForm">
    <input type="hidden" name="q" value="{{ q }}" form="js-carouselForm">
    {% if rq %}
      {% for query in rq %}
        <input type="hidden" name="rq" value="{{ query }}" form="js-carouselForm">
      {% endfor %}
    {% endif %}
    <input type="hidden" name="sort" value="{{ sort }}" form="js-carouselForm">

    {% for filter_type in filters %}
      {% for filter in filters|get_item:filter_type %}
        {% if filter_type == 'collection_url' %}
          <input type="hidden" class="js-filter" name="{{ collection_data }}" value="{{ filter.id }}" form="js-carouselForm">
        {% elif filter_type == 'repository_url' %}
          <input type="hidden" class="js-filter" name="{{ repository_data }}" value="{{ filter.id }}" form="js-carouselForm">
        {% else %}
          <input type="hidden" class="js-filter" name="{{ filter_type }}" value="{{ filter|slugify }}" form="js-carouselForm">
        {% endif %}
      {% endfor %}
    {% endfor %}
    
    <input type="hidden" name="referral" value="{{ referral }}" form="js-carouselForm">
    <input type="hidden" name="referralName" value="{{ referralName }}" form="js-carouselForm">
    <input type="hidden" name="itemId" value="{{ item_id }}" form="js-carouselForm">
    <input type="hidden" name="itemNumber" value="{{ start }}" form="js-carouselForm">
    {% if campus_slug %}
      <input type="hidden" name="campus_slug" value="{{ campus_slug }}" form="js-carouselForm">
    {% endif %}
  </form>

  <div class="carousel" id="js-carousel" data-carousel_start="{{ start }}" data-numFound="{{ numFound }}">
    {% include "calisphere/carousel.html" %}
  </div>
