{% extends "calisphere/base.html" %}
{% load calisphere-extras %}
{% load staticfiles %}
{% load humanize %}

{% block content %}

<h2 class="collection-intro__institution-heading">Collection:
	<a href="{% url 'calisphere:collectionView' collection_id %}"
	   data-pjax="js-pageContent">
		{{ collection.name }}
	</a>
</h2>
<h2 class="collection-intro__institution-heading">Owning Institution{{ collection.repository|pluralize }}:
{% for repository in collection.repository %}
  {% if 'campus' in repository and repository.campus.0.name %}
    <a
      href="{% url 'calisphere:campusView' repository.campus.0.slug 'collections' %}"
      class="collection-intro__institution-heading-link"
      data-pjax="js-pageContent"
    >{{ repository.campus.0.name }}</a>,
  {% endif %}
  <a
    href="{% url 'calisphere:repositoryView' repository.resource_id 'collections' %}"
    class="collection-intro__institution-heading-link"
    data-pjax="js-pageContent"
  >
    {{ repository.name }}
  </a>
{% endfor %}
</h2>

<p><b>Unique / Total:</b> {{ unique|intcomma }} / {{ records|intcomma }} = {{ ratio }}
<h3>{{ title }}</h3>
{% for label, count in values.items %}
<div>
  <a href="./{{ label|qencode }}/"> {{ label }}</a>
  ({{ count|intcomma }})
</div>
{% endfor %}

{% endblock %}
