{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}

{% block page-metadata %}
{% include "calisphere/microdata.html" with title='For Contributors' %}
{% endblock %}

{% block content %}

<h1>For Contributors</h1>

<!-- Begin Static About Component -->

<div class="static">

  <div class="col-sm-8 static__main">

		<p>Calisphere aggregates digital collections from libraries, archives, museums, historical societies, and other cultural heritage organizations in California. If you represent such an organization and are interested in contributing digital content to Calisphere, please read on. Contributing is free!</p>

    <h2>Contribute to Calisphere</h2>
		<p>Calisphere is based on a metadata harvesting model, where we can pull in metadata and thumbnails that point to content hosted on your own site or system. Our goal is to make it easy for institutions of all sizes and with varying technical infrastructure to contribute to Calisphere.</p>

    <h2>Baseline requirements for harvest</h2>
		<p>A collection must at minimum meet the following requirements in order for us to consider harvesting it:</p>
		<ul>
		<li>It must be digital (i.e., not metadata-only records)</li>
		<li>It must be publicly available</li>
		<li>It must be hosted on a stable system or site</li>
		</ul>

    <h2>It's a twofer!</h2>
		<p>All metadata that is aggregated and displayed in Calisphere is also pushed to the <a href="http://dp.la">Digital Public Library of America (DPLA) website and platform</a>.</p>

    <h2>Ready to contribute?</h2>
		<p>Calisphere's harvest works on a collection-by-collection basis. By "collection," we mean a group of digital objects which are hosted in the same source, which can be harvested according to the same protocol, and which you'd like to appear together as a set within the Calisphere interface. Some institutions have a single collection, and some have many. We'll work with you to confirm which collection(s) you'd like to publish in Calisphere and add them to a <a href="https://trello.com/b/xeW28ugi/calisphere-harvesting">harvesting queue</a>.</p>
    <p>The first step to contribute to Calisphere is to simply let us know you're interested in having your collection(s) harvested. If you have a collection or collections that you'd like to have harvested, and that meet the baseline requirements above, please <a href="/contact">contact us</a>.</p>
    <p><a href="https://help.oac.cdlib.org/support/solutions/folders/9000162355">Learn more about contributing to Calisphere.</a></p>
  </div>

  <div class="col-sm-4 static__sidebar">

  	<h2 class="static__sidebar-heading">Interested in contributing?</h2>

  	<p>Please <a href="/contact">contact us</a> to start a conversation about your collections and your options for making them available in Calisphere.</p>
  </div>

</div>

<!-- End Static About Component -->
{{ q }}
{% endblock %}
