{% load static %}
<footer class="footer">
  <a class="footer__logo js-global-header-logo" href="{% url 'calisphere:home' %}">
    <img src="{% static 'images/logo-calisphere.svg' %}" alt="Calisphere">
  </a>

  <div class="footer__search mobile-nav__item">
    <form class="global-search" role="search" id="js-footerSearch" action="{% url 'calisphere:search' %}" method="get">
      <label for="global-search__field" class="global-search__label">Search over one million items</label>
      <div class="input-group">
        <input id="global-search__field" form="js-footerSearch" name="q" value="{{ q }}" type="search" class="form-control global-search__field js-globalSearch">
        <span class="input-group-btn">
          <button class="btn btn-default global-search__button" type="submit" aria-label="search"><span class="fa fa-search"></span>
          </button>
        </span>
      </div>
    </form>
  </div>

  <div class="footer__nav">
    <nav class="footer-nav mobile-nav" aria-label="footer navigation">
      <ul>
        <li>
          <a href="{% url 'calisphere:home' %}" data-pjax="js-pageContent">
            Home
          </a>
        </li>
        <li>
          <a href="{% url 'calisphere:about' %}" data-pjax="js-pageContent">
            About Calisphere
          </a>
        </li>
        <li>
          <a href="{% url 'calisphere:campusDirectory' %}" data-pjax="js-pageContent">
            Contributing Institutions
          </a>
        </li>
        <li>
          <a href="{% url 'calisphere:collectionsDirectory' %}" data-pjax="js-pageContent">
            Collections
          </a>
        </li>
        <li>
          <a href="{% url 'exhibits:randomExplore' %}" data-pjax="js-pageContent">
            Exhibitions
          </a>
        </li>
        <li>
          <a href="{% url 'calisphere:help' %}" data-pjax="js-pageContent">
            FAQs
          </a>
        </li>
        <li>
          <a href="{% url 'calisphere:termsOfUse' %}" data-pjax="js-pageContent">
            Terms of Use
          </a>
        </li>
        <li>
          <a href="{% url 'calisphere:privacyStatement' %}" data-pjax="js-pageContent">
            Privacy Statement
          </a>
        </li>
        <li>
          <a href="https://cdlib.org/about/policies-and-guidelines/accessibility/">Accessibility</a>
        </li>
        <li>
          <a href="{% url 'contact_form' %}" data-pjax="js-pageContent">
            Contact Us
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="footer__copyright">
    Calisphere is a service of the <a href="https://libraries.universityofcalifornia.edu/">UC Libraries</a>,<br> powered by the <a href="https://cdlib.org/">California Digital Library</a>.
  </div>
  <div class="footer__social-icons" role="group" aria-labelledby="footer-connect-label">
    <span id="footer-connect-label">Connect with us:</span>
    <a class="footer__twitter-icon"
       href="https://twitter.com/calisphere"
       aria-label="Calisphere on Twitter"><span class="fa fa-twitter-square"></span>
    </a>
    <a class="footer__facebook-icon"
       href="https://www.facebook.com/calisphere"
       aria-label="Calisphere on Facebook"><span class="fa fa-facebook-square"></span>
    </a>
  </div>
</footer>
