{% load staticfiles %}

<!doctype html>
<html lang="en" class="no-js no-jquery">
  <head>
    {% block page-metadata %}
    {% include "calisphere/microdata.html" with title='' description='' %}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="apple-touch-icon-precomposed" href="/favicon-152x152.png?v=2">
    {% if devMode %}
      <link rel="stylesheet" href="{% static "node_modules/font-awesome/css/font-awesome.css" %}" />
      <link rel="stylesheet" href="{% static "node_modules/mediaelement/build/mediaelementplayer.css" %}" />
      <link rel="stylesheet" href="{% static "styles/main.css" %}" />
    {% else %}
      <link rel="stylesheet" href="{% static "styles/vendor.css" %}" />
      <link rel="stylesheet" href="{% static "styles/main.css" %}" />
    {% endif %}
    <script>
      //no-jquery class is now effectively a no-js class
      document.getElementsByTagName('html')[0].classList.remove('no-jquery');
    </script>
    {% include "calisphere/ga_site_code.html" %}
    <script>
      if (typeof _paq !== 'undefined') {
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
      }
    </script>
  </head>
  <body>

    <div class="container-fluid">
      <a href="#js-pageContent" class="skipnav">Skip to main content</a>
<!--       <div class="announcement">
        <a href="https://www.cdlib.org/cdlinfo/2018/04/16/over-one-million-digital-items-from-california-cultural-heritage-institutions-now-available-through-calisphere/">Announcing over one million items in Calisphere!</a>
      </div> -->
      <header class="header">
        <button class="header__mobile-nav-button js-global-header__bars-icon" aria-label="navigation">
          <i class="fa fa-bars"></i>
        </button>
        <a class="header__logo js-global-header-logo" href="{% url 'calisphere:home' %}">
          <img src="{% static 'images/logo-calisphere.svg' %}" alt="Calisphere">
        </a>
        <div>
          <div class="header__right-announcement">
            <div class="header__video-lockup">
              <div class="header__video-text">
                Watch a brief <strong><a href="/about/">introductory video</a></strong>
              </div>
              <div class="header__video-icon">
                <a href="/about/"><i class="fa fa-play-circle"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="header__nav js-global-header__mobile-links is-closed" aria-expanded="false">
          <nav class="header-nav mobile-nav" aria-label="main navigation">
            <ul>
              <li>
                <a href="{% url 'calisphere:campusDirectory' %}">Contributing Institutions</a>
              </li>
              <li>
                <a href="{% url 'calisphere:collectionsDirectory' %}">Collections</a>
              </li>
              <li>
                <a href="{% url 'exhibits:randomExplore' %}">Exhibitions</a>
              </li>
              <li>
                <a href="{% url 'calisphere:about' %}">About</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <main id="js-pageContent">

        <div class="home">

          <div class="home__top-images">

            <div class="home__{{ lock_up.img1.class }}">
              <h1 class="home__{{ lock_up.img1.class }}-heading">The deeper you look, the more you discover.</h1>
              <form role="search" id="js-homeForm" action="{% url 'calisphere:search' %}" method="get">
              <div class="home__search">
                <label for="home__search-field" class="sr-only">Search over two million items</label>
                <div class="input-group">
                  <input id="home__search-field" form="js-homeForm" type="search" class="form-control input-lg" placeholder="Search over two million items" name="q" label="Search field">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-lg home__search-button" type="submit" aria-label="search">
                    </button>
                  </span>
                </div>
              </div>
              </form>
              <a href="{% url 'calisphere:itemView' lock_up.img1.id  %}" class="home__{{ lock_up.img1.class }}-credit">
        {{ lock_up.img1.title }} / {{ lock_up.img1.contributor }}
              </a>

            </div>

            <div class="row home__img-main-row">

              <div class="col-xs-12 col-sm-8">
                <p class="home__{{ lock_up.img2.class }}-text">Calisphere is your gateway to digital collections from California's great libraries, archives, and museums. Discover over {{ total_objects }} images, texts, and recordings. Watch an <a href="/about/">introductory video</a> to learn more.</p>
              </div>

              <div class="col-xs-8">
                <div class="home__{{ lock_up.img2.class }}">
                  <a href="{% url 'calisphere:itemView' lock_up.img2.id %}" class="home__{{ lock_up.img2.class }}-credit">
            {{ lock_up.img2.title }} / {{ lock_up.img2.contributor }}
                  </a>
                </div>
              </div>

              <div class="col-xs-4">
                <div class="home__{{ lock_up.img3.class }}">
                  <a href="{% url 'calisphere:itemView' lock_up.img3.id %}" class="home__{{ lock_up.img3.class }}-credit">
            {{ lock_up.img3.title }} / {{ lock_up.img3.contributor }}
                  </a>
                </div>
              </div>

            </div>

          </div>

          <h2 class="home__heading2">Explore University of California collections:</h2>

          <div class="row home__thumbnail">

          {% for feature in uc_partners %}
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
              <a href="{% url 'calisphere:campusCollections' feature.id %}" class="home__thumbnail-link" style="background-image: url('{{ ucldcImages }}/{{ feature.thumb }}');">
                <div class="home__thumbnail-caption--uc">
          {{ feature.name }}
                </div>
              </a>
            </div>
          {% endfor %}

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
              <div class="home__contributing-block">
                <a href="{% url 'calisphere:campusDirectory' %}" class="home__contributing-link">
                  <span class="home__contributing-content">View all contributing institutions</span>
                </a>
              </div>
            </div>

          </div>

          <div class="row home__thumbnail">

            <h2 class="home__heading2">Featured statewide partners:</h2>


          {% for feature in statewide_partners %}
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
              <a href="{% url 'calisphere:repositoryCollections' feature.id %}" class="home__thumbnail-link" style="background-image: url('{{ ucldcImages }}/{{ feature.thumb }}');">
                <div class="home__thumbnail-caption--inst">
          {{ feature.name }}
                </div>
              </a>
            </div>
          {% endfor %}

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
              <div class="home__contributing-block">
                <a href="{% url 'calisphere:statewideDirectory' %}" class="home__contributing-link--inst">
                  <span class="home__contributing-content--inst">View all statewide partners</span>
                </a>
              </div>
            </div>

          </div>

        </div>

      </main>

      <footer class="footer">
        <a class="footer__logo js-global-header-logo" href="{% url 'calisphere:home' %}">
          <img src="{% static 'images/logo-calisphere.svg' %}" alt="Calisphere">
        </a>

        <div class="footer__search mobile-nav__item">
          <form class="global-search" role="search" id="js-footerSearch" action="{% url 'calisphere:search' %}" method="get">
            <label for="footer__search-field" class="global-search__label">Search over two million items</label>
            <div class="input-group">
              <input id="footer__search-field" form="js-footerSearch" name="q" value="{{ q }}" type="search" class="form-control global-search__field js-globalSearch">
              <span class="input-group-btn">
                <button class="btn btn-default global-search__button" type="submit" aria-label="search"><span class="fa fa-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>

        <div class="footer__nav">
          <nav class="footer-nav mobile-nav" aria-label="footer navigation">
            <ul>
              <li>
                <a href="{% url 'calisphere:home' %}">
                  Home
                </a>
              </li>
              <li>
                <a href="{% url 'calisphere:about' %}">
                  About Calisphere
                </a>
              </li>
              <li>
                <a href="{% url 'calisphere:campusDirectory' %}">
                  Contributing Institutions
                </a>
              </li>
              <li>
                <a href="{% url 'calisphere:collectionsDirectory' %}">
                  Collections
                </a>
              </li>
              <li>
                <a href="{% url 'exhibits:randomExplore' %}">
                  Exhibitions
                </a>
              </li>
              <li>
                <a href="{% url 'calisphere:help' %}">
                  FAQs
                </a>
              </li>
              <li>
                <a href="{% url 'calisphere:termsOfUse' %}">
                  Terms of Use
                </a>
              </li>
              <li>
                <a href="{% url 'calisphere:privacyStatement' %}">
                  Privacy Statement
                </a>
              </li>
              <li>
                <a href="https://www.cdlib.org/about/accessibility.html">Accessibility</a>
              </li>
              <li>
                <a href="{% url 'contact_form' %}">
                  Contact Us
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="footer__copyright">
          Calisphere is a service of the <a href="http://libraries.universityofcalifornia.edu/">UC Libraries</a>,<br> powered by the <a href="http://www.cdlib.org/">California Digital Library</a>.
        </div>
        <div class="footer__social-icons" role="group" aria-labelledby="footer-connect-label">
          <span id="footer-connect-label">Connect with us:</span>
          <a class="footer__twitter-icon"
             href="https://twitter.com/calisphere"
             aria-label="Calisphere on Twitter"><span class="fa fa-twitter-square"></span>
          </a>
          <a class="footer__facebook-icon"
             href="https://www.facebook.com/calisphere"
             aria-label="Calisphere on Facebook"><span class="fa fa-facebook-square"></span>
          </a>
        </div>
      </footer>
      </div>


    </div>
    {% include "calisphere/scripts.html" %}
    <script src="{% static "scripts/calisphere-home.js" %}"></script>
    <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Calisphere",
  "url" : "https://calisphere.org",
  "sameAs" : [
    "https://twitter.com/calisphere",
    "https://www.facebook.com/calisphere/"
  ]
}
    </script>
  </body>
</html>
