{% load calisphere-extras %}

<nav class="breadcrumb--style2" aria-label="breadcrumb navigation">
  <ul>
  {% if item.parsed_repository_data %}
    <li>
      <a href="{% url 'calisphere:repositoryCollections' item.parsed_repository_data.0.id %}" data-pjax="js-pageContent">
      {% if item.parsed_repository_data.0.campus %}{{ item.parsed_repository_data.0.campus }}, {% endif %}
      {{ item.parsed_repository_data.0.name }}
      </a>
    </li>
  {% endif %}

  {% if item.parsed_collection_data %}
    <li>
      <a href="{% url 'calisphere:collectionView' item.parsed_collection_data.0.id %}" data-pjax="js-pageContent" class="js-relatedCollection">{{ item.parsed_collection_data.0.name }}</a>
    </li>
  {% endif %}
    <li>{{ item.title.0 }}</li>
  </ul>
</nav>

<h1 class="obj__heading">
  {% if item.harvest_type == 'hosted' %}
    {% if item.multiFormat %}Multi-format{% else %}{{ item.type.0|title }}{% endif %}{% if 'structMap' in item %} set{% else %}{% endif %}
  {% else %}
    {{ item.type.0|title }}
  {% endif %}
 / <strong>{{ item.title.0|truncatewords:12 }}</strong></h1>

<div id="js-objectViewport" data-item_id="{{item.id}}">
{% if item.harvest_type == 'hosted' and 'structMap' in item %}
  {% include 'calisphere/objectViewer/complex-object.html' %}
{% elif item.harvest_type == 'hosted' and item.contentFile.format == 'image' %}
  {% include 'calisphere/objectViewer/hosted-simple-image.html' %}
{% elif item.harvest_type == 'hosted' and item.contentFile.format == 'video' %}
  {% include 'calisphere/objectViewer/hosted-simple-video.html' %}
{% elif item.harvest_type == 'hosted' and item.contentFile.format == 'audio' %}
  {% include 'calisphere/objectViewer/hosted-simple-audio.html' %}
{% elif item.harvest_type == 'hosted' and item.contentFile.format == 'file' %}
  {% include 'calisphere/objectViewer/hosted-simple-file.html' %}
{% else %}
  {% include 'calisphere/objectViewer/object-tiles-and-overlays.html' %}
{% endif %}
</div>

{% include "calisphere/itemButtons.html" %}

<h2 class="meta-heading">
  {% if item.harvest_type == 'harvested' %}
    Item information.
    {% if item.oac == False %}
    <a class="meta-heading__preview-link" href="{{ item.url_item }}">
      View source record on contributor's website.
    </a>
    {% endif %}
  {% elif item.harvest_type == 'hosted' %}
    {% if 'structMap' in item and 'selected' in item and item.selected == True %}
      Summary information.
    {% elif 'structMap' in item %}
      Item information. <a href="{% url 'calisphere:itemView' item.id %}" class="js-set-link">Go to summary information.</a>
    {% else %}
      Item information.
    {% endif %}
  {% endif %}
</h2>

<div class="row">
  <div class="col-md-8">
    {% if 'selected' in item and item.selected == False %}
      {% include "calisphere/component-metadata.html" %}
    {% else %}
      {% include "calisphere/item-metadata.html" %}
    {% endif %}
  </div>
  <div class="col-md-4">
    <div class="meta-sidebar">
      <div class="meta-sidebar__block">
        <h3>About the collections in Calisphere</h3>
        <p>Learn more about the collections in Calisphere. View our <a href="/overview/" data-pjax="js-pageContent">statement on digital primary resources</a>.</p>
      </div>
      <div class="meta-sidebar__block">
        <h3>Copyright, permissions, and use</h3>
        <p>If you're wondering about permissions and what you can do with this item, a good starting point is the "rights information" on this page. See our <a href="/terms/" data-pjax="js-pageContent">terms of use</a> for more tips.</p>
      </div>
      <div class="meta-sidebar__block">
        <h3>Share your story</h3>
        <p>Has Calisphere helped you advance your research, complete a project, or find something meaningful? We'd love to hear about it; please <a href="/contact/" data-pjax="js-pageContent">send us a message</a>.</p>
      </div>
    </div>
  </div>
</div>

{% if item.parsed_collection_data.0.disqus_shortname %}
<div class="comment">
  <div id="disqus_loader" class="comment_clickthrough" data-disqus="{{ item.parsed_collection_data.0.disqus_shortname }}">
    <div class="comment__text">
      <h2>New! This item supports comments!</h2>
      <p>We are testing a commenting feature on this item. <button class="button__link js-disqus">Load comments</button>.</p>
    </div>
    <button class="comment__link js-disqus">Join The <br>Discussion</button>
  </div>

  <div class="comment__thread">
    <div id="disqus_thread"></div>
  </div>
</div>
{% endif %}
