{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}
{% load calisphere-extras %}

{% block page-metadata %}
{% if 'description' in item %}
  {% include "calisphere/microdata.html" with title=item.title.0 description=item.description %}
{% else %}
  {% include "calisphere/microdata.html" with title=item.title.0 description='' %}
{% endif %}
{% endblock %}

{% block content %}

<div id="js-itemContainer" class="obj-container" data-itemId="{{ item.id }}">
  {% block itemContent %}
    {% include "calisphere/item.html" %}
  {% endblock %}
</div>

<div class="relatedContent">
	<h3 style="margin-bottom: 20px;">Explore related content on Calisphere:</h3>

	<div id="js-carouselContainer" class="carousel__container"></div>

  <div class="related-coll__wrapper">
  	<div class="related-coll--search-results-page" id="js-relatedCollections">
  	  {% include "calisphere/related-collections.html" %}
  	</div>
  </div>
</div>
<!--
  header returned from solr; for debugging
  {{ item_solr_search.header|safe }}
  -->
{% endblock %}
