{% load calisphere-extras %}

<p class="text__breadcrumb-nav">
  {% if item.parsed_repository_data %}
    <a href="{% url 'calisphere:repositoryView' item.parsed_repository_data.0.id 'collections' %}" data-pjax="js-pageContent">
      {% if item.parsed_repository_data.0.campus %}{{ item.parsed_repository_data.0.campus }}, {% endif %}
      {{ item.parsed_repository_data.0.name }}
    </a>
  {% endif %}
   >
  {% if item.parsed_collection_data %}
    <a href="{% url 'calisphere:collectionView' item.parsed_collection_data.0.id %}" data-pjax="js-pageContent" class="js-relatedCollection">{{ item.parsed_collection_data.0.name }}</a>
  {% endif %}
   > {{ item.title.0 }}
</p>

<h1 class="obj__heading">
  {% if item.harvest_type == 'hosted' %}
    {% if item.multiFormat %}Multi-format{% else %}{{ item.type.0|title }}{% endif %}{% if 'structMap' in item %} set{% else %}{% endif %}
  {% else %}
    {{ item.type.0|title }}
  {% endif %}
 / <strong>{{ item.title.0|truncatewords:12 }}</strong></h1>

<div id="js-objectViewport" data-item_id="{{item.id}}">
{% if item.harvest_type == 'hosted' and 'structMap' in item %}
  {% include 'calisphere/objectViewer/complex-object.html' %}
{% elif item.harvest_type == 'hosted' and item.contentFile.format == 'image' %}
  {% include 'calisphere/objectViewer/hosted-simple-image.html' %}
{% elif item.harvest_type == 'hosted' and item.contentFile.format == 'video' %}
  {% include 'calisphere/objectViewer/hosted-simple-video.html' %}
{% elif item.harvest_type == 'hosted' and item.contentFile.format == 'audio' %}
  {% include 'calisphere/objectViewer/hosted-simple-audio.html' %}
{% elif item.harvest_type == 'hosted' and item.contentFile.format == 'file' %}
  {% include 'calisphere/objectViewer/hosted-simple-file.html' %}
{% else %}
  {% include 'calisphere/objectViewer/object-tiles-and-overlays.html' %}
{% endif %}
</div>

{% include "calisphere/itemButtons.html" %}

<h3 class="meta-heading">
  {% if item.harvest_type == 'harvested' %}
    Item Information.
    <a class="meta-heading__preview-link" href="{{ item.url_item }}{% if item.oac %}&layout=metadata{% endif %}">
      View source record on
      {% if item.oac == True %}
        the Online Archive of California.
      {% else %}
        contributor's website.
      {% endif %}
    </a>
  {% elif item.harvest_type == 'hosted' %}
    {% if 'structMap' in item and 'selected' in item and item.selected == True %}
      Summary Information.
    {% elif 'structMap' in item %}
      Item information. <a href="{% url 'calisphere:itemView' item.id %}" class="js-set-link">Go to summary information.</a>
    {% else %}
      Item Information.
    {% endif %}
  {% endif %}
</h3>

{% if 'selected' in item and item.selected == False %}
  {% include "calisphere/component-metadata.html" %}
{% else %}
  {% include "calisphere/item-metadata.html" %}
{% endif %}

{% if item.parsed_collection_data.0.disqus_shortname %}
<div class="comment">
  <div id="disqus_loader" class="comment_clickthrough" data-disqus="{{ item.parsed_collection_data.0.disqus_shortname }}">
    <div class="comment__text">
      <h2>New! This item supports comments!</h2>
      <p>We are testing a commenting feature on this item. <button class="button__link js-disqus">Load comments</button>.</p>
    </div>
    <button class="comment__link js-disqus">Join The <br>Discussion</button>
  </div>

  <div style="display: block; clear: both;">
    <div id="disqus_thread"></div>
  </div>
</div>
{% endif %}
