{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}
{% load calisphere-extras %}

{% block page-metadata %}
{% if 'description' in item %}
  {% include "calisphere/microdata.html" with title=item.title.0 description=item.description %}
{% else %}
  {% include "calisphere/microdata.html" with title=item.title.0 description='' %}
{% endif %}
{% endblock %}

{% block content %}

<div id="js-carouselContainer"></div>

<div id="js-itemContainer" data-itemId="{{ item.id }}">
  {% block itemContent %}
    {% include "calisphere/item.html" %}
  {% endblock %}
</div>

{% if item.parsed_collection_data.0.disqus_shortname %}

<div id="disqus_loader" class="comment">
    <div class="comment__text">
      <h2>New! This item supports comments!</h2>
      <p>We are testing a commenting feature on this collection. By using this feature, you agree to UC Riverside’s <a href="/privacy/"">comment policy</a>. <a href="#" onclick='$.ajaxSetup({cache:true});$.getScript("http://{{ item.parsed_collection_data.0.disqus_shortname}}.disqus.com/embed.js");$.ajaxSetup({cache:false});$("#disqus_loader").remove();return false;'>Load comments</a>.</p>
    </div>
    <a href="#" class="comment__link" onclick='$.ajaxSetup({cache:true});$.getScript("http://{{ item.parsed_collection_data.0.disqus_shortname}}.disqus.com/embed.js");$.ajaxSetup({cache:false});$("#disqus_loader").remove();return false;'>Join The <br>Discussion</a>
  </div>
</div>

<div style="display: block; clear: both;">
  <div id="disqus_thread"></div>
</div>
{% endif %}


<div class="related-coll--search-results-page" id="js-relatedCollections">
  {% include "calisphere/related-collections.html" %}
</div>

<!--
  header returned from solr; for debugging
  {{ item_solr_search.header|safe }}
  -->
{% endblock %}
