{% extends "calisphere/base.html" %}

{% block page-metadata %}
{% include "calisphere/microdata.html" with title='Outreach Materials' %}
{% endblock %}

{% block content %}

<div class="static">

  <h1>Outreach Materials</h1>

  <div class="col-sm-8 static__main">

    <p>Calisphere is visited a million times a year by undergraduates, K-12 students, teachers, professors, genealogists, artists, and other curious people for their personal and professional projects and endeavors.</p>

    <p>Help us spread the word about this great resource to your patrons, friends, and colleagues.</p>
<!--
    <h2>Social media tools</h2>
    <p>Items on Calisphere can be easily shared on social media. On each item, look for the Twitter and Facebook buttons. Send it to your followers with a single click.</p>
-->
    <h2>Embeddable resources</h2>
    <p>Add these resources to your website, blog post, or other online pages.  Simply cut the code below and paste it in your HTML in the place where you want it to appear.</p>

    <h3>Calisphere video</h3>
    <p>Include a video that introduces Calisphere and primary sources on your website. This will insert a playable video that can be watched without leaving your website.</p>
    <div class="static__banner-well-container">
      <pre class="static__well">
&lt;div style="padding:56.25% 0 0 0;position:relative;">
  &lt;iframe src="https://player.vimeo.com/video/486486841?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
  &lt;/iframe>
&lt;/div>
&lt;script src="https://player.vimeo.com/api/player.js">
&lt;/script>
</pre>
      </div>
    <h3>Banners</h3>
    <p>Place a banner on you website or blog post to direct people to Calisphere. Choose from three sizes to fit your space. Each banner links to the site.
    Simply cut the code below and paste it into your HTML in the place where you want it to appear.</p>

    <h4>Vertical banner</h4>
    <div class="static__banner-well-container">
      <img class="static__embeddable-banner" src="//calisphere.org/calisphere_images/calisphere_beta_badge_vertical.jpg" alt="vertical Calisphere banner" border="0"/>
        <pre class="static__well">
&lt;a href="https://calisphere.org">
  &lt;img
    src="//calisphere.org/calisphere_images/calisphere_beta_badge_vertical.jpg"
    alt="vertical Calisphere banner"
    border="0"/>
&lt;/a></pre>
    </div>

    <h4>Horizontal banner</h4>
    <div class="static__banner-well-container">
      <a href="https://calisphere.org">
        <img class="static__embeddable-banner" src="//calisphere.org/calisphere_images/calisphere_beta_badge_horizontal.jpg" alt="horizontal Calisphere banner"/>
        </a>

      <pre class="static__well">
&lt;a href="https://calisphere.org">
  &lt;img
    src="//calisphere.org/calisphere_images/calisphere_beta_badge_horizontal.jpg"
    alt="horizontal Calisphere banner"
    border="0"/>
&lt;/a></pre>
      </div>

    <h4>Small banner</h4>
    <div class="static__banner-well-container">
      <a href="https://calisphere.org">
        <img class="static__embeddable-banner" src="//calisphere.org/calisphere_images/calisphere_beta_badge_small.jpg" alt="small Calisphere banner"/>
      </a>
      <pre class="static__well">
&lt;a href="https://calisphere.org">
  &lt;img
    src="//calisphere.org/calisphere_images/calisphere_beta_badge_small.jpg"
    alt="small Calisphere banner"
    border="0"/>
&lt;/a></pre>
    </div>

  </div>

  <div class="col-sm-4 static__sidebar">

    <h2 class="static__sidebar-heading">Let’s work together</h2>
    <p>We welcome opportunities to introduce Calisphere to diverse audiences. We are happy to supply language for articles and blog posts, and can be available for virtual and in-person presentations (subject to travel and staff resource considerations). Please <a href="/contact/" data-pjax=js-pageContent>contact us</a> with your outreach ideas.</p>

  </div>

</div>

{{ q }}
{% endblock %}
