{% if exhibits|length > 0 %}
<div class="carousel__container">
  <div class="margin-bottom-20"><strong>Exhibitions</strong> containing this item ({{exhibits|length}} found)</div>
  <div class="row js-related-carousel exhibit__related-carousel margin-bottom-20">
    {% for exhibit in exhibits %}
      <div class="col-xs-2 col-md-3">
        <a href="{{ exhibit.get_absolute_url }}" class="js-relatedExhibition" data-pjax="js-pageContent">
          <div class="exhibit__lockup--med">
            <div class="exhibit__lockup--med-image">
              <div class="aspect-ratio-content exhibit__lockup--med-image-content" style="background-image: url('{{ exhibit.exhibit_lockup }}');">
              </div>
            </div>
            <div class="exhibit__lockup--med-title">
              <div class="exhibit__lockup--med-title-content">{{ exhibit.title }}</div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}