{% load staticfiles %}
    {% if devMode %}
      <script src="{% static "scripts/modernizr.js" %}"></script>
      <script src="{% static "node_modules/jquery/dist/jquery.js" %}"></script>
      <script src="{% static "node_modules/jquery-pjax/jquery.pjax.js" %}"></script>
      <script src="{% static "node_modules/underscore/underscore.js" %}"></script>
      <script src="{% static "node_modules/mediaelement/build/mediaelement-and-player.js" %}"></script>
      <script src="{% static "node_modules/bootstrap-sass/assets/javascripts/bootstrap/alert.js" %}"></script>
      <script src="{% static "node_modules/bootstrap-sass/assets/javascripts/bootstrap/modal.js" %}"></script>
      <script src="{% static "node_modules/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js" %}"></script>
      <script src="{% static "node_modules/slick-carousel/slick/slick.js" %}"></script>
      <script src="{% static "node_modules/picturefill/dist/picturefill.js" %}"></script>
      <script src="{% static "node_modules/openseadragon/build/openseadragon/openseadragon.min.js" %}"></script>
      <script src="{% static "node_modules/infinite-scroll/dist/infinite-scroll.pkgd.js" %}"></script>
      <script src="{% static "node_modules/imagesloaded/imagesloaded.pkgd.js" %}"></script>
      <script src="{% static "node_modules/backbone/backbone.js" %}"></script>
      <script src="{% static "node_modules/typeahead.js/dist/typeahead.bundle.js" %}"></script>
      <script src="{% static "node_modules/nprogress/nprogress.js" %}"></script>
      <script src="{% static "node_modules/jquery.dotdotdot/src/js/jquery.dotdotdot.js" %}"></script>
      <script src="{% static "node_modules/isotope-layout/dist/isotope.pkgd.js" %}"></script>

      <script src="{% static "scripts/Controller.js" %}"></script>
      <script src="{% static "scripts/QueryManager.js" %}"></script>
      <script src="{% static "scripts/ExhibitPageView.js" %}"></script>
      <script src="{% static "scripts/FacetFormView.js" %}"></script>
      <script src="{% static "scripts/ItemView.js" %}"></script>
      <script src="{% static "scripts/ComplexCarouselView.js" %}"></script>
      <script src="{% static "scripts/GlobalSearchFormView.js" %}"></script>
      <script src="{% static "scripts/ContactOwnerFormView.js" %}"></script>
    {% else %}
      <script src="{% static "scripts/vendor.js" %}"></script>
      <script src="{% static "scripts/vendor/modernizr.js" %}"></script>
    {% endif %}

    <script src="{% static "scripts/calisphere.js" %}"></script>
