{% extends "calisphere/base.html" %}
{% load calisphere-extras %}
{% load humanize %}
{% load static %}

{% block page-metadata %}
{% include "calisphere/microdata.html" with title=q  description='' %}
{% endblock %}

{% block content %}

    {% block pageTitle %}<h1>Search Results for "<strong>{{ q }}</strong>"</h1>{% endblock %}

    {% block additionalInfo %}{% endblock %}

    <!-- Begin Filters -->

      <div class="col-md-9 layout-col__1" role="group" aria-labelledby="filters-aria-label">
        <div class="display-none" id="filters-aria-label">
          Filters you've selected:
        </div>
        <!-- Begin Filter Component -->
        {% block filters %}
        {% if filters|dictionary_length > 0 or search_form.rq|length > 0 %}<div class="filter">

          <span class="filter__note">Filters you've selected:</span>

          {% for filter_type in filters %}
            {% for filter in filters|get_item:filter_type %}
              {% if filter_type == 'collection_data' or filter_type == 'repository_data' %}
                <button type="button" class="btn btn-default btn-xs filter-pill button__close js-filter-pill" data-slug="{% if filter_type == 'collection_data' %}c-{% else %}r-{% endif %}{{ filter.id }}">{% if 'campus' in filter and filter.campus|length > 0 %}{{ filter.campus }}, {% endif %}{{ filter.name }}<i class="fa fa-close button__close-icon"></i>
                </button>
              {% else %}
                <button type="button" class="btn btn-default btn-xs filter-pill button__close js-filter-pill" data-slug="{{ filter|slugify }}">{{ filter }}<i class="fa fa-close button__close-icon"></i>
                </button>
              {% endif %}
            {% endfor %}
          {% endfor %}

          {% for refine in search_form.rq %}
            <input form="js-facet" type="text" class="display-none" name="rq" value="{{ refine }}">
            <button type="button" class="btn btn-default btn-xs js-refine-filter-pill button__close" data-slug="{{ refine }}">{{ refine }}<i class="fa fa-close button__close-icon"></i>
            </button>
          {% endfor %}

          <button type="button" class="btn btn-default btn-xs button__clear filter__clear-all js-clear-filters">Clear Filters
          </button>

        </div>{% endif %}
        {% endblock %}
        <!-- End Filter Component -->

      </div>

    <!-- End Filters -->

      <div class="col-md-3 layout-col__2">
        {% block sidebar %}
          <form id="js-facet" action="{{ form_action }}" method="get">
          {% block refineSearch %}

            <!-- Begin Search Within Field -->
            <div class="search-within">
              <label for="search-within__field" class="search-within__label">Search within results</label>
              <div class="input-group">
                <input id="search-within__field" type="search" name="rq" class="form-control search-within__field" form="js-facet">
                <span class="input-group-btn">
                  <button class="btn btn-default search-within__button" type="submit" form="js-facet">Refine
                  </button>
                </span>
              </div>
            </div>
            <!-- End Search Within Field -->

          {% endblock %}

          <!-- Begin Checkbox Groups -->
          {% include "calisphere/forms/faceting.html" %}
          <!-- End Checkbox Groups -->
          </form>
        {% endblock %}
      </div>

      <div class="col-md-9 layout-col__3">
        {% block mainContent %}

        <!-- TODO: facets.collection_name|length is only accurate if no collection filters have been applied -->
        <h2 class="text__collections-heading">{% block objectsFound %}{{ numFound|intcomma }} item{{ numFound|pluralize }} found in
          <a href="#related-coll">
            {% if filters|get_item:'collection_data'|length == 0 %}
              {{ facets.collection_data|length }} collection{{ facets.collection_data|pluralize }}
            {% else %}
              {{ filters|get_item:'collection_data'|length }} collection{{ filters|get_item:'collection_data'|pluralize }}
            {% endif %}
          </a>{% endblock %}
        </h2>

        <div class="row object-view-row">

          <!-- Begin Dropdown Pagination Component -->
          {% include "calisphere/forms/paginate.html" %}
          <!-- End Dropdown Pagination Component -->

          <!-- Begin Toggle Component -->

          <div class="thumblist-toggle">
            <label for="view_format" aria-hidden="true" class="display-none">View Format</label>
            <input form="js-facet" type="text" class="display-none" id="view_format" name="view_format" value="{{ search_form.view_format }}" aria-hidden="true">
            <button id="thumbnails" class="btn btn-link thumblist-toggle__thumbnails{% if search_form.view_format == 'thumbnails' %}--selected{% endif %}">
              <span class="fa fa-th-large"></span>Thumbnails
            </button>
            <button id="list" class="btn btn-link thumblist-toggle__list{% if search_form.view_format == 'list' %}--selected{% endif %}"><span class="fa fa-th-list"></span>List</button>
          </div>

          <!-- End Toggle Component -->

        </div>

        <!-- TODO: rewrite this form, POST bad. maintain state through javascript object -->

        <!-- Begin Thumbnail and List View Components -->

        {% if search_form.view_format == "thumbnails" %}
          {% include "calisphere/item-thumb.html" %}
        {% elif search_form.view_format == "list" %}
          {% include "calisphere/list-results.html" %}
        {% endif %}

        <label for="start" aria-hidden="true" class="display-none">Current Set Number</label>
        <input form="js-facet" type="text" class="display-none" id="start" name="start" value="{{ search_form.start }}" aria-hidden="true">

        <!-- End Thumbnail and List View Components -->

        <div class="row">
          <div class="pag-dropdown">

            {% with search_form.start|subtract:search_form.rows as prev_page %}
            {% if prev_page >= 0 %}
              <a class="js-prev btn btn-link pag-dropdown__arrow-icon" aria-label="previous set" data-start="{{ prev_page }}" href="{{ form_action }}?{% if q %}q={{ q }}&{% endif %}start={{ prev_page }}"><span class="fa fa-caret-left fa-lg"></span></a>
            {% else %}
              <button type="button" class="js-prev btn btn-link pag-dropdown__arrow-icon" aria-label="previous set" disabled><span class="fa fa-caret-left fa-lg"></span></button>
            {% endif %}
            {% endwith %}

            <label for="bottom-start-dropdown" class="sr-only">Current Set Number</label>
            <select class="pag-dropdown__select--unstyled" form="js-facet" id="bottom-start-dropdown">
              {% for page in pages|get_range %}
              <option value="{% widthratio page 1 search_form.rows %}" {% if search_form.start|add:0 >= page|multiply:search_form.rows|add:0 and search_form.start|add:0 < page|add:1|multiply:search_form.rows|add:0 %}selected{% endif %}>{{ page|add:"1" }}</option>
              {% endfor %}
            </select>

            <span class="pag-dropdown__total-number">of {{ pages }}</span>

            {% with search_form.start|add:search_form.rows as next_page %}
            {% if next_page < numFound %}
              <a class="js-next btn btn-link pag-dropdown__arrow-icon" aria-label="next set" data-start="{{ next_page }}" href="{{ form_action }}?{% if q %}q={{ q }}&{% endif %}start={{ next_page }}">
                <span class="fa fa-caret-right fa-lg"></span>
              </a>
            {% else %}
              <button type="button" class="js-next btn btn-link pag-dropdown__arrow-icon" aria-label="next set" disabled><span class="fa fa-caret-right fa-lg"></span></button>
            {% endif %}
            {% endwith %}

  		    </div>

          <!-- Begin Buttons Pagination Component -->
            {% include "calisphere/forms/paginate-buttons.html" %}
          <!-- End Buttons Pagination Component -->
        </div>

        <!-- Begin Related Collections Component -->
        {% block relatedCollections %}
        {% if num_related_collections %}
        <div class="related-coll--search-results-page" id="js-relatedCollections">
          {% include "calisphere/related-collections.html" %}
        </div>
        {% endif %}
        {% endblock %}
        <!-- End Related Collections Component -->
      {% endblock %}
      </div>
{% endblock %}
