// ##### Announcement Component ##### //

.announcement {
  background-color: $design-primary-color;
  color: #fff;
  text-align: center;
  margin: -10px -10px 20px -10px;
  padding: 0.7em 5% 0.5em 0;
  font-size: 1.2em;

  @include bp(sm-screen) {
    margin: -10px -10px 10px -10px;
  }

  @include bp(md-screen) {
    margin: -20px -40px 20px -40px;
    font-size: 1.1em;
  }

  a {
    color: inherit;
  }
}
