// ##### Complex Carousel Component ##### //

$carousel-item-size: 80px;

.carousel-complex {
  display: none; // set to '.show()' on js initialization
  padding: $layout-component-margin $layout-component-margin - 2;
  background: $design-light-gray-color;

  @include bp(md-screen) {
    margin: 0 $object-leftright-margin;
  }

}

.carousel-complex__navigation-text {
  border: none;
  padding-bottom: 10px;

  a {
    padding: .1em .5em;
    background-color: #fff;
    font-size: .9em;

    border: 1px solid $design-primary-color;
    border-radius: 3px;
    position: relative;
    top: -1px;
  }
}

// ***** Fixed Parent-level Item ***** //

.carousel-complex__fixed-item {
  float: left;
  width: $carousel-item-size;
  height: $carousel-item-size;

  @include bp(sm-screen) {
    margin: 0 0 0 ($layout-component-margin * 2);
  }

}

.carousel-complex__fixed-link {
  display: block;
}


// ***** Fixed Parent-level Thumbnail Image ***** //
.carousel-complex__fixed-thumb {
  border: 1px solid $design-dark-gray-color;
}


.carousel-complex__fixed-thumb--selected {
  border: 5px solid $design-primary-color;
}

// ***** Fixed Parent-level Icon ***** //
.carousel-complex__fixed-tile-icon-container {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid $design-primary-color;

  &:before { // sets container height equal to width
    display: block;
    content: "";
    padding-top: 100%;
  }
}

.carousel-complex__fixed-tile-icon-container--selected {
  @extend .carousel-complex__fixed-tile-icon-container;
  border: 5px solid $design-primary-color;
}

.carousel-complex__fixed-tile-icon {
  @include thumbnail__tile-icon(40px, 40px, 40px, 40px); // for custom icon sizes instead of defaults at xs, sm, md, and lg screen sizes, add comma separated number/unit value in parentheses, like: (20vw, 10vw, 8vw, 80px)
}

// ***** Complex Carousel Thumbnails ***** //

.carousel-complex__item-container {
  margin: 0 0 0 90px;
  border-left: 2px solid $design-dark-gray-color;
  padding: 0 0 0 ($layout-component-margin / 2);

  @include bp(sm-screen) {
    margin: 0 0 0 130px;
    padding: 0 ($layout-component-margin * 2) 0 ($layout-component-margin / 2);
  }

}

.carousel-complex__item {
  margin: 0 ($layout-component-margin / 4);
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

}

.carousel-complex__item--selected {
  opacity: 1;

  .carousel-complex__img {
    border: 5px solid $design-primary-color;
  }

}

.carousel-complex__link {
  display: block;
}

.carousel-complex__link .tooltip {
  width: 100%;
}

.carousel-complex__link .tooltip.top { // center tooltip and hide from pointer
  margin: 55% 0 0 0;
  padding: 0 $layout-component-margin;
  pointer-events: none;
}

.carousel-complex__link .tooltip-arrow {
  display: none;
}

.carousel-complex__link .tooltip-inner {
  text-align: left;
}

.carousel-complex__thumbnail-container {
  @extend .thumbnail__container-complex;
  border: 1px solid $design-dark-gray-color;
  background-color: #fff;
}

.carousel-complex__thumbnail-container--selected {
  @extend .thumbnail__container-complex;
  border: 5px solid $design-primary-color;
  background-color: #fff;
}

.carousel-complex__tile {
  @extend .carousel-complex__item;
  width: $carousel-item-size;
  //height: $carousel-item-size; // specifying height as equal to item height causes captions not to be visible
}

.carousel-complex__tile--selected {
  @extend .carousel-complex__tile;
  opacity: 1;

  .carousel-complex__thumbnail-container {
    @extend .thumbnail__container-complex;
    border: 5px solid $design-primary-color;
    background-color: #fff;
  }

}

.carousel-complex__tile-icon {
  @include thumbnail__tile-icon(55px, 55px, 55px, 55px); // for custom icon sizes instead of defaults at xs, sm, md, and lg screen sizes, add comma separated number/unit value in parentheses, like: (20vw, 10vw, 8vw, 80px)
}

.carousel-complex img { // Slick carousel reset
  height: $carousel-item-size;
}

.carousel-complex__thumbnail-caption {
  width: $carousel-item-size;
  height: 2em; // reveal only 2 lines of text
  margin-top: 0.5em;
  color: #000;
  overflow: hidden;
  line-height: 1;
}
