.explore-clusters {
  padding: $layout-container-margin-md 15px 0px 40px;
  border-top: 1px solid $design-dark-gray-color;
  margin: $layout-container-margin-md 0 $layout-container-margin-md 0;
}
.cluster-listing {
  padding-right: 15px;
}

.snapshot {
  padding: 15px 15px 15px 15px;
  border: 1px solid $design-dark-gray-color;
  margin: 1px 0 $layout-container-margin-md 0;  
}

.collection-cluster-form {
  border: 1px solid $design-dark-gray-color; 
  padding: 10px 15px; 
  margin: 0 0 $layout-container-margin-md 0; 
  display: inline-block;
}
.collection-cluster-form__sort-selector {
  margin: 0 12px;
}

.collection_browse-item_count {
  display: block;
  width: 100%;
  font-size: calc(10vw - 30px);
}
.snapshot h4 { margin-bottom: 20px; }
.snapshot h5 { font-size: 16px; margin: 0 0 7px 0; }

%cluster-thumbnail {
  background-size: cover;
  background-position: center;  
  position: relative;
}

.browse-cluster-thumbnail__container {
	position: relative;
	display: flex;
	flex-direction: row;
	width: initial;
	height: 40vh;
	margin-bottom: 0px;
}
.browse-cluster-thumbnail__0 { @extend %cluster-thumbnail; 
  flex: 1 0 calc(50% - 5px); margin-right: 5px; }
.browse-cluster-thumbnail__container2 { 
  flex: 1 0 50%; 
	display: flex; flex-direction: column;}
.browse-cluster-thumbnail__1 { @extend %cluster-thumbnail; 
  flex: 1 0 50%; }
.browse-cluster-thumbnail__container3 {
  flex: 1 0 calc(50% - 5px); margin-top: 5px;
  display: flex; flex-direction: row; }
.browse-cluster-thumbnail__2 { @extend %cluster-thumbnail;
  flex: 1 0 50%; }
.browse-cluster-thumbnail__3 { @extend %cluster-thumbnail;
  flex: 1 0 calc(50% - 5px); margin-left: 5px;}

.browse-cluster-thumbnail__description {
  border: 1px solid $design-primary-color;
  color: $design-primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cluster-container {
  padding: 10px;
  height: calc(25vh + 80px);
}

.cluster-thumbnail__container {
  position:relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 25vh;
  margin-bottom: 10px;
}

.cluster-thumbnail__0 { @extend %cluster-thumbnail; 
  flex: 1 0 50%; }
.cluster-thumbnail__container2 { 
  flex: 1 0 calc(50% - 5px); margin-left: 5px; 
  display: flex; flex-direction: column; }
.cluster-thumbnail__1 { @extend %cluster-thumbnail; 
  flex: 1 0 50%; }
.cluster-thumbnail__2 { @extend %cluster-thumbnail;
  flex: 1 0 calc(50% - 5px); margin-top: 5px;}


.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-menu {
  width: 100%;
  margin: 32px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  /* font-size: 18px;
  line-height: 24px; */
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.twitter-typeahead {
  width: 100%;
  display: block !important;
}