// ##### Custom Fonts for Text ##### //

// Regular:

@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 400;
  src:
    url('../vendor-fonts/WOFF2/VAR/SourceSansVariable-Roman.ttf.woff2') format('woff2-variations'),
    url('../vendor-fonts/WOFF/TTF/SourceSansPro-Regular.ttf.woff') format('woff');
  font-display: swap;
}

// Italic:

@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: 400;
  src:
    url('../vendor-fonts/WOFF2/VAR/SourceSansVariable-Italic.ttf.woff2') format('woff2-variations'),
    url('../vendor-fonts/WOFF/TTF/SourceSansPro-It.ttf.woff') format('woff');
  font-display: swap;
}

// Bold:

@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 700;
  src:
    url('../vendor-fonts/WOFF2/VAR/SourceSansVariable-Roman.ttf.woff2') format('woff2-variations'),
    url('../vendor-fonts/WOFF/TTF/SourceSansPro-Bold.ttf.woff') format('woff');
  font-display: swap;
}

// Bold Italic:

@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: 700;
  src:
    url('../vendor-fonts/WOFF2/VAR/SourceSansVariable-Italic.ttf.woff2') format('woff2-variations'),
    url('../vendor-fonts/WOFF/TTF/SourceSansPro-BoldIt.ttf.woff') format('woff');
  font-display: swap;
}
