// ##### Global Footer ##### //

.footer {
  display: grid;
  width: 100%; // bootstrap grid
  float: left; // bootstrap grid
  margin-top: 20px;
  padding-top: 10px;
  border-top: 2px solid $design-dark-gray-color;

  @include bp(sm-screen) {
    grid-template-columns: 40% 1fr;
    grid-column-gap: 15%;
    grid-row-gap: 15px;
    padding-top: 20px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 10px;

  img {
    width: $header-logo-xs-width;
    height: $header-logo-xs-height;
  }

  @include bp(sm-screen) {
    
    @supports (display: grid) {
      margin-bottom: 0;
    }
  }
}

.footer__search {

  @include bp(sm-screen) {
    display: none;
  }
}

.footer__nav {
  margin-bottom: 10px;

  @include bp(sm-screen) {
    grid-row: 1 / 4;
    grid-column: 2;

    @supports (display: grid) {
      margin-bottom: 0;
    }
  }
}

.footer__copyright {
  color: $design-dark-gray-color;
  justify-self: center;
  line-height: 1.2;

  @include bp(sm-screen) {
    grid-row: 3;
    justify-self: start;
  }
}

.footer__social-icons {
  display: flex;
  width: 17rem;
  justify-content: space-between;
  align-items: center;
  justify-self: center;

  a {
    font-size: 1.9em;
    line-height: normal;
  }

  @include bp(sm-screen) {
    grid-row: 2;
    justify-self: start;
  }
}

.footer__twitter-icon {
  color: rgb(41, 138, 201);
}

.footer__facebook-icon {
  color: rgb(46, 71, 124);
}
