// ##### Footer Navigation ##### //

.footer-nav {

  @include bp(sm-screen) {

    ul {
      column-count: 3;
      column-gap: 20px;
    }

    li {
      margin-bottom: .5rem;
    }

    a {
      color: $design-primary-color;
    }
  }
}
