// ##### Global Footer ##### //

.footer {
  clear: left; // clear Bootstrap grid
  margin-top: 20px;
  padding-top: 10px;
  border-top: 2px solid $design-dark-gray-color;

  @include bp(sm-screen) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10%;
  }

  @include bp(md-screen) {
    grid-column-gap: 15%;
  }
}

.footer__search {

  @include bp(sm-screen) {
    display: none;
  }
}

.footer__nav {
  margin-bottom: 10px;
}

.footer__logo {
  display: block;
  margin-right: 10%;
  margin-bottom: 10px;

  img {
    width: $header-logo-xs-width;
    height: $header-logo-xs-height;
  }
}

.footer__copyright {
  color: $design-dark-gray-color;
  text-align: center;
  grid-column: 1 / -1;
}

.footer__social-icons {
  display: flex;
  width: 17rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;
}

.footer__twitter-icon {
  font-size: 1.9em;
  color: rgb(41, 138, 201);
}

.footer__facebook-icon {
  font-size: 1.9em;
  color: rgb(46, 71, 124);
}
