// ##### Global Header ##### //

%header-buttons {
  display: none; // hide buttons unless header js runs normally (see js notes below)
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 2.4em;
  align-self: start;
}

.header {
  display: grid;
  margin-bottom: $header-bottom-margin;
  grid-template-columns: auto 1fr auto;
}

.header__mobile-nav-button {
  @extend %header-buttons;

  .fa-bars {
    color: $design-dark-gray-color;
  }
}

.header__logo {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  justify-self: center;

  img {
    width: $header-logo-xs-width;
    height: $header-logo-xs-height;
  }

  @include bp(sm-screen) {
    margin-left: 0;

    img {
      width: $header-logo-md-width;
      height: $header-logo-md-height;
    }
  }

  @include bp(md-screen) {
    margin-bottom: 20px;
  }
}

.header__mobile-search-button {
  @extend %header-buttons;

  .fa-search {
    color: $design-primary-color;
  }
}

.header__search {
  grid-column: 1 / -1;

  @include bp(sm-screen) {
    float: right;
    margin-bottom: 10px;
    grid-column: 2 / -1;
    justify-self: end;
    align-self: end;

    @include bp(md-screen) {
      margin-bottom: 20px;
    }
  }
}

.header__nav {
  clear: right;
  grid-column: 1 / -1;
}

// ***** Classes Set by JS ***** //

// If header js runs normally, aria-expanded attributes are added to buttons:

.header__mobile-search-button[aria-expanded],
.header__mobile-nav-button[aria-expanded] {
  display: inline-block;

  @include bp(sm-screen) {
    display: none;
  }
}

// If header js runs normally, is-closed/open classes are added to header search and nav elements:

.header__search.is-closed,
.header__nav.is-closed {
  display: none;
}

.header__search.is-open,
.header__nav.is-open {
  display: block;
}

.header__right-announcement { float: right; }
.header__video-lockup {
  display: flex;
  margin-top: 3px;

  @include bp(md-screen) {
    margin-top: 7px;
  }
}

.header__video-text { 
  flex:1 1 auto; 
  text-align: center; 
  font-size: 1.2em; 
  width: 140px;
}
.header__video-icon {
  flex:1 1 auto; 
  padding: 0 0 5px 7px;
  font-size: 2.4em;
}

