// ##### Metadata Block Component ##### //

.meta-block {
  @extend .clearfix; // Bootstrap class
  margin: $layout-component-margin 0 0 0;

  @include bp(md-screen) {
    margin: $layout-component-margin 0 0 $object-leftright-margin;
  }

}

.meta-sidebar {
  background-color: #f0f0f0;
  margin: 0 $object-leftright-margin $layout-component-margin 0;
  padding: 20px 20px 20px 20px;
}

.meta-sidebar__block {
  background-color: white;
  margin-bottom: $layout-component-margin;
  padding: $layout-component-margin;
}

.meta-sidebar__block:last-child {
  margin-bottom: 0;
}

.meta-sidebar h3 {
  margin: 0 0 20px 0;
  font-size: 1.4em;
}

.meta-block__list {
	margin: 0;
}

.meta-block__type {
  color: $design-dark-gray-color;

  @include bp(sm-screen) {
    float: left;
    clear: left;
    width: 15%;
    margin: 0 $layout-container-margin-sm $layout-container-margin-md 0;
  }

  @include bp(md-screen) {
    margin: 0 $layout-container-margin-md $layout-container-margin-md 0;
  }

}

.meta-block__defin {
  margin: 0 0 $layout-container-margin-md 0;
  overflow-wrap: break-word;

  @include bp(sm-screen) {
    float: left;
    width: 80%;
    margin: 0 0 $layout-container-margin-sm 0
  }

  @include bp(md-screen) {
    margin: 0 0 $layout-container-margin-md 0
  }

}

// collectionMetadata.html styles
.metadata-summary {
  padding: 10px; 
  text-align: right;
}

.metadata-summary tr:nth-child(even) {
  background-color: #EEE
}

.metadata-summary td, .metadata-summary th {
  padding: 1px 5px 1px 10px;
}
