// ##### Search Fields ##### //

// ***** Global Header Search Field ***** //

.global-search__label {
  display: block;
  color: #fff;
  font-size: 1.2em;
  text-align: left;
  font-weight: normal;
  line-height: 1;

  @include bp(sm-screen) {
    color: #000;
    font-size: 1.3em;
    text-align: center;
  }

  @include bp(md-screen) {
    font-size: 1.5em;
  }

}

.global-search__button {
  height: 34px; // match the height of Bootstrap's form field
  color: #FFF;
  border: 1px solid $design-dark-gray-color;
  background: $design-primary-color-with-white;
  padding-top: 7px;

  &:hover {
    background: darken($design-primary-color-with-white, 15%);
    color: #fff;
  }

  .fa { // fa-search icon
  	font-size: 1.34em;
    font-weight: 700;

  }

}

// ***** Search Within Results Search Field ***** //

.search-within {
  clear: right; // clear filter buttons in .col-md-9
}

.search-within__label {
	@extend .global-search__label;
	color: #000;
	font-size: 1em;

	@include bp(sm-screen) {
    text-align: left;
  }

}

.search-within__button {
	@extend .global-search__button;
  font-size: 18.66px;
  padding-top: 4px;
  font-weight: 700;
  letter-spacing: .05em;
}

// ***** Search Collection Results Search Field ***** //

.search-collection {
  clear: right; // clear filter buttons in .col-md-9
}

.search-collection__label {
  @extend .global-search__label;
  color: #000;
  font-size: 1em;

  @include bp(sm-screen) {
    text-align: left;
  }

}

.search-collection__button {
  @extend .global-search__button;
  font-size: 18.66px;
  padding-top: 4px;
  font-weight: 700;
  letter-spacing: .05em;
}
