// ##### Skip Navigation Component ##### //

.skipnav {
  position: absolute;
  left: -9999px;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border: 2px solid $design-secondary-color;
  border-radius: 8px;
  background-color: white;
  font-size: 1.8rem;
  text-decoration: none;
  transition: opacity 0.5s;
  opacity: 0;
  z-index: 1;

  &:focus {
    top: 10px;
    left: 10px;
    opacity: 1;
  }

}
