// ##### Slick Carousel ##### //

// ***** Vendor Variables ***** //

$slick-font-path: "../../node_modules/font-awesome/fonts/";
$slick-font-family: "fontawesome";
$slick-loader-path: "./";
$slick-arrow-color: $design-primary-color;

$slick-prev-character: "\f104"; // fa-angle-left
$slick-next-character: "\f105"; // fa-angle-right

$slick-opacity-default: 0.75;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: 0.25;

// ***** Vendor Libraries ***** //

@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";

// ***** Vendor Overrides ***** //

// Main Slick Carousel

.slick-prev,
.slick-next {
	display: none !important;
	height: auto;
	margin-top: -20px;

	@include bp(sm-screen) {
    display: block !important;
  }

}

.slick-prev:before, .slick-next:before {
	font-size: 50px;
}

.slick-prev {
	left: 0;
}

.slick-next {
	right: 0;
}

// Complex Slick Carousel

.carousel-complex__item-container .slick-prev, .carousel-complex__item-container .slick-next {
	margin-top: -25px;
}

.carousel-complex__item-container .slick-prev {
	left: -130px;
}

.carousel-complex__item-container-tall .slick-prev, .carousel-complex__item-container-tall .slick-next {
        margin-top: -45px;
}
