// ##### Text Elements ##### //

.text__page-heading {
	// font-size: 2em;
}

.text__collections-heading {
	margin: 0.75em 0;
	padding: 0.75em 0 0 0;
	font-size: 1.3em;

	@include bp(sm-screen) {
    padding: 0;
    border: none;
    font-size: 1.5em;
  }

}

.global__breadcrumb-header {
  margin-top: 0;
}

.text__audio-component-title {
  font-size: small;
  text-align: center;
  margin-top: 8px;
}
