// ##### 3D Viewer Component ##### //

.threedviewer {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;

  [hidden] {
    display: none !important;
  }
}

.threedviewer__container {
  position: relative;
  min-height: 66vw;
  background-color: $design-dark-gray-color;

  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.threedviewer__loadstatus {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.threedviewer__loadstatus-label {
  margin-bottom: 10px;
  color: white;
}

.threedviewer__progressbar {
  width: 33%;
  height: 10px;
  border: 1px solid black;
  background-color: black;
  border-radius: 5px;

  &::-webkit-progress-bar {
    background-color: black;
  }

  &::-webkit-progress-value {
    background-color: $design-primary-color;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &::-moz-progress-bar {
    background-color: $design-primary-color;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.threedviewer__controls {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: $design-dark-gray-color;

  button {
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid $design-dark-gray-color;
    border-radius: 4px;
    text-transform: uppercase;

    &:focus,
    &:hover {
      border: 1px solid $design-light-gray-color;
      background-color: $design-light-gray-color;
    }
  }
}

.threedviewer__intensityrange {
  // These all align the slider vertically:
  width: 20px !important;
  height: 120px;
  margin: 0 auto;
  -webkit-appearance: slider-vertical;
  writing-mode: vertical-rl; // Firefox
}

.threedviewer__directions-panel {
  margin: 10px 0 0 0;
  padding: 10px;
  border-top: 2px solid $design-primary-color;
  grid-column: 1 / -1;
  grid-row: 2;

  li {
    display: inline;

    &:not(:last-child)::after {
      content: ';'
    }

    &:last-child::after {
      content: '.'
    }
  }
}
