// ##### Main Sass ##### //

// This file imports all Sass partials below and compiles result to main.css

// ***** Global Settings ***** //

@import "variables";
@import "mixins";
@import "fonts";

// ***** Vendor Libraries ***** //

@import "bootstrap-imports";
@import "font-awesome-imports";
@import "mediaelementplayer-custom-styles.scss";
@import "slick-carousel.scss";

// ***** For Testing (comment out before compiling for production) ***** //

// @import "testing";

// ***** Elements ***** //

@import "buttons";
@import "icons";
@import "text";

// ***** Sub Components ***** //

@import "mobile-nav";

// ***** Components ***** //

@import "alpha-nav";
@import "announcement";
@import "carousel";
@import "carousel-complex";
@import "collection-intro";
@import "collections-intro";
@import "collections-themed";
@import "collections-row";
@import "comments";
@import "related-collections";
@import "facets";
@import "filter";
@import "footer";
@import "footer-nav";
@import "header";
@import "header-nav";
@import "home";
@import "home-images";
@import "institution-intro";
@import "institution-contributors";
@import "institutions-intro";
@import "institutions-nav";
@import "institutions-textboxes";
@import "listview";
@import "metadata-block";
@import "metadata-complex-image";
@import "metadata-headings";
@import "metadata-inline";
@import "objects";
@import "object-buttons";
@import "object-container";
@import "pagination";
@import "searchfields";
@import "static";
@import "thumbnail";
@import "titlesearch";
@import "toggle";
@import "exhibit";
@import "theme";

// ***** Layouts ***** //

@import "alignment";
@import "print";

// ***** Global Styles ***** //

a:focus {
  outline: 0; // remove dotted border in Firefox
  text-decoration: underline;
}

strong {
  -webkit-font-smoothing: antialiased; // small fonts in Chrome on Mac OS don't appear bold without this
}

// Reset Bootstrap grid media queries by adding print media (located in _grid.scss in Bootstrap npm package)

@media (min-width: $screen-sm-min), print and (min-width: $print-sm-min)  {
  @include make-grid(sm);
}

@media (min-width: $screen-md-min), print and (min-width: $print-md-min)  {
  @include make-grid(md);
}

@media (min-width: $screen-lg-min), print and (min-width: $print-lg-min)  {
  @include make-grid(lg);
}

@import "five-column";

// Bootstrap Container

.container-fluid {
  max-width: 1400px;
  padding: $layout-container-margin-xs;

	@include bp(sm-screen) {
    padding: $layout-container-margin-sm;
  }

	@include bp(md-screen) {
    padding: $layout-container-margin-md;
  }

}

// Layout Column Floats

.layout-col__1 {

  @include bp(md-screen) {
    float: right;
  }

}

// Bootstrap Overrides

abbr {
  border: none !important; // for older browsers
  text-decoration: none !important; // for newer browsers
  cursor: auto !important;
}

.tooltip-inner {
  text-align: left;
}

.pag-dropdown .tooltip-inner {
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  color: #8a6d3b;
}

.pag-dropdown .tooltip-arrow {
  border-top-color: #faebcc;
}

.pag-dropdown .tooltip-inner:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  content: "\f071";
}

.thumbnail__link .tooltip {
  width: 100%;
}

.thumbnail__link .tooltip.top { // center tooltip and hide from pointer
  margin: 55% 0 0 0;
  padding: 0 $layout-component-margin;
  pointer-events: none;
}

.thumbnail__link .tooltip-arrow {
  display: none;
}

.thumbnail__link .tooltip-inner {
  text-align: left;
}

// vendor overrides

#nprogress .bar {
  background: $design-primary-color;
}

#nprogress .peg {
  box-shadow: 0 0 10px $design-dark-gray-color, 0 0 5px $design-dark-gray-color;
}

#nprogress .spinner-icon {
  border-top-color: $design-primary-color;
  border-left-color: $design-primary-color;
}

// contact form

#contact-us-form input,
#contact-us-form select,
#contact-us-form textarea {
  @extend .form-control;
}

.form-group.required label:after {
  content:"*";
  color:red;
}

// contact form error messages
.custom-errors ul {
  list-style: none;
  padding-left: 0;
  color: $design-primary-color;
  margin-bottom: 0;
}

// calipshere btn

.btn-calisphere {
  @include button-variant(white, $design-primary-color, $design-primary-color);
}

.text-404 {
  color: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  font-size: 21px;

  @include bp(sm-screen) {
    font-size: 28px;
  }
}

.msg-404 {
  color: #fff;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  top: 45px;
  text-align: center;
  font-size: 16px;

  @include bp(sm-screen) {
    font-size: 20px;
    padding: 10px;
  }
}

.display-none { display: none; }
.full-width { width: 100%; }
.full-width-max { max-width: 100%; }

.margin-bottom-0 { margin-bottom: 0; }
.margin-bottom-10 {margin-bottom: 10px; }
.margin-bottom-20 { margin-bottom: 20px; }

.margin-right-10 { margin-right: 10px; }

.padding-right-10 { padding-right: 10px; }
.padding-left-10 { padding-left: 10px; }

.border-bottom-0 { border-bottom: 0; }

.float-left { float: left; }
.float-right { float: right; }
.opacity-0 { opacity: 0; }