node_modules
dist
static_root
.tmp
.sass-cache
bower_components
*.py[cod]
*.py.bak
.DS_Store
db.sqlite3
ucldc-django-ebs.zip
ve/
env.local
npm-debug.log
py27/
sitemaps/
docs/
.ruby-version
app/admin/
backstop_data/html_report/
backstop_data/bitmaps_reference/
backstop_data/bitmaps_test/
backstop_data/uilib/html_report/
backstop_data/uilib/bitmaps_test/
backstop_data/uilib/bitmaps_reference/
backstop_data/ci_report/
backstop_data/backstop_tests/prod-vs-local-as-prod-ui.js
media_root/
ucldc-*.zip
calisphere/templates/400.html
calisphere/templates/403.html
calisphere/templates/500.html