node_modules
dist
static_root
.tmp
.sass-cache
bower_components
*.py[cod]
.DS_Store
db.sqlite3
ucldc-django-ebs.zip
ve/
env.local
npm-debug.log
py27/
sitemaps/
docs/
.ruby-version
app/admin/
backstop_data/html_report/
backstop_data/bitmaps_reference/
backstop_data/bitmaps_test/
backstop_data/uilib/html_report/
backstop_data/uilib/bitmaps_test/
backstop_data/uilib/bitmaps_reference/
backstop_data/ci_report/