Django==1.11.6
django-contact-form==1.4.2
django-easy-pjax==1.3.0
retrying==1.3.3
simplejson==3.10.0
six==1.10.0
requests==2.13.0
whitenoise==3.3.0
markdown==2.6.8
# django-positions==0.5.4
https://github.com/amywieliczka/django-positions/archive/multi-collection-delete-issue.zip#egg=django-positions
https://github.com/ucldc/md5s3stash/archive/master.zip#egg=md5s3stash
django-redis==4.7.0
redis==2.10.5
hiredis==0.2.0
django-static-sitemaps==4.2.1
django-health-check==2.3.0
future==0.16.0
aws-xray-sdk==0.93
django-recaptcha2