<footer class="footer">
  <a class="footer__logo" href="/">
    <img src="images/logo-calisphere.svg" alt="Calisphere">
  </a>
  <div class="footer__search mobile-nav__item">
    @@include("components/searchfield-global-component.html")
  </div>
  <div class="footer__nav">
    @@include("components/footer-nav-component.html")
  </div>
  <div class="footer__copyright">
    Calisphere is a service of the <a href="">UC Libraries</a>, powered by the <a href="">California Digital Library</a>.
  </div>
  <div class="footer__social-icons" role="group" aria-labelledby="footer-connect-label">
    <span id="footer-connect-label">Connect with us:</span>
    <a class="footer__twitter-icon" aria-label="Twitter" href=""><span class="fa fa-twitter-square"></span></a>
    <a class="footer__facebook-icon" aria-label="Facebook" href=""><span class="fa fa-facebook-square"></span></a>
  </div>
</footer>
