<header class="header">
  <button class="header__mobile-nav-button" aria-label="navigation">
    <i class="fa fa-bars"></i>
  </button>
  <a class="header__logo" href="/">
    <img src="images/logo-calisphere.svg" alt="Calisphere">
  </a>
  <button class="header__mobile-search-button" aria-label="search">
    <i class="fa fa-search"></i>
  </button>
  <div class="header__search mobile-nav__item">
    @@include("components/searchfield-global-component.html")
  </div>
  <div class="header__nav">
    @@include("components/header-nav-component.html")
  </div>
</header>
