<aside class="col-sm-4 sidebar">
  <h2>Looking for JARDA and other themed collections?</h2>
  <p>The Japanese American Relocation Digital Archive (JARDA), California Cultures, and California History themed collections are currently still hosted on the old Calisphere site.</p>
  <a href="/collections/themed/">
    <img class="sidebar-img" src="https://s3.amazonaws.com/static.ucldc.cdlib.org/calisphere_images/uchida-family-at-manzanar.jpg" alt="Three generations of the Uchida family at Manzanar War Relocation Center">
    <p>Click here to browse themed collections before making the jump.</p>
  </a>
</aside>
