{% extends 'calisphere/base.html' %}

{% block page-metadata %}
{% include "calisphere/microdata.html" with title='Contact Calisphere' %}
{% endblock %}

{% block content %}

<div class="static">

<h1>Contact Calisphere</h1>
  <div id="contact-us-form" class="col-sm-8 static__main">
<p>Please note the California Digital Library, which maintains Calisphere, does not own the items or collections on the site and has no further information about them.</p>
<p>Questions about items and collections should be directed to their contributing institutions. Use the "Contact Owner" button or visit <a href="/institutions/" data-pjax="js-pageContent">the institution's page</a> for more information.</p>
<p>Use this form to report technical problems, send us comments, or ask questions about Calisphere.</p>
    <form method="post">{% csrf_token %}
    {% for field in form %}
      {% if field.label != "Referer" and field.label != "Captcha" %}
      <div class="form-group required">
        <div class="custom-errors">{{ field.errors }}</div>
        {{ field.label_tag }}<div>{{ field }}</div>
      </div>
      {% elif field.label == "Captcha" %}
      <div class="form-group">
        <div class="custom-errors">{{ field.errors }}</div>
        <div>{{ field }}</div>
      </div>
      {% endif %}
    {% endfor %}
      <div class="form-group">
        <strong>
          Last page viewed:
        </strong> {{ request.META.HTTP_REFERER }}
        <input type="hidden" name="referer" value="{{ request.META.HTTP_REFERER }}"/>
      </div>
<p>*Messages about items or collections submitted through this page may be forwarded to the contributing institution, as noted in our <a href="/privacy/" data-pjax="js-pageContent">Privacy Statement</a>.</p>
  <div class="form-group">
        <button type="submit" class="btn btn-calisphere" value="Submit">Submit</button>
      </div>
    </form>

  </div>

  <div class="col-sm-4 static__sidebar">

        <h2 class="static__sidebar-heading">How can we help you?</h2>
        <p>Our <a href="/help/" data-pjax="js-pageContent">FAQ page</a> contains search tips and answers to many frequently asked questions, such as how to find more information about an item or collection.</p>
        <p><b>Copyright and permissions:</b> If you're wondering about permissions and what you can do with items you find in Calisphere, a good starting point is the <a href="/terms/" data-pjax="js-pageContent">terms of use</a>.</p>
        <p><b>Do you know something we don’t?</b> We welcome additional information about the digital primary sources in Calisphere. Learn more <a href="/overview/" data-pjax="js-pageContent">about the collections in Calisphere</a> and how we strive to provide responsible access to digital primary sources--and how you can help!</p>
  </div>
  <div class="col-sm-4 static__sidebar">
        <h2 class="static__sidebar-heading">Contact information</h2>
        <p>Calisphere is a project of the University of California Libraries, developed and maintained by the <a href="http://cdlib.org/">California Digital Library</a>.</p>
        <p>California Digital Library (CDL)<br>
          Office of the President, University of California<br>
          1111 Franklin Street<br>
          Oakland, CA 94607
        </p>
        <ul class="list-unstyled">
          <li>CDL Helpline: (510) 987-0555</li>
          <li>CDL Administration: (510) 987-0425</li>
          <li>CDL Fax: (510) 893-5212</li>
        </ul>

  </div>
</div>
{% endblock %}

{% block footerScripts %}
     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
