# https://aws.amazon.com/premiumsupport/knowledge-center/cron-job-elastic-beanstalk/

files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root /usr/local/bin/monitor

    "/usr/local/bin/monitor":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            # application monitor script

            # set paths to command here
            curl="curl --connect-timeout 10 -s"

            # get the private ip
            private_ip=$($curl http://169.254.169.254/latest/meta-data/local-ipv4)

            # get http status of URL https://superuser.com/a/442395/231394
            status_code=$($curl -o /dev/null -I -w "%{http_code}" http://${private_ip}/healthcheck/)

            if [[ $status_code != '200' ]]
              then
                /usr/sbin/apachectl graceful
            fi

            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"
