{% load staticfiles %}

<div class="obj__container-osd">

  <div id="obj__osd-toolbar">
    <div class="obj__osd-button-group">

      <a id="obj__osd-button-home" class="btn btn-default obj__osd-button" href="#">
        RESET
      </a>
      <a id="obj__osd-button-zoom-in" class="btn btn-default obj__osd-button" href="#">
        <span class="fa fa-plus fa-fw"></span>
      </a>
      <a id="obj__osd-button-zoom-out" class="btn btn-default obj__osd-button" href="#">
        <span class="fa fa-minus fa-fw"></span>
      </a>
      <a id="obj__osd-button-fullscreen" class="btn btn-default obj__osd-button" href="#">
        <span class="fa fa-expand fa-fw"></span>
      </a>
      <a id="obj__osd-button-rotate-left" class="btn btn-default obj__osd-button" href="#">
        <span class="fa fa-rotate-left fa-fw"></span>
      </a>
      <a id="obj__osd-button-rotate-right" class="btn btn-default obj__osd-button" href="#">
        <span class="fa fa-rotate-right fa-fw"></span>
      </a>
    </div>
  </div>

  <div id="obj__osd"></div>

  <script src="{% static "bower_components/openseadragon/built-openseadragon/openseadragon/openseadragon.min.js" %}"></script>

  <script type="text/javascript">
    var tileSources = {{ item.contentFile.titleSources|safe }};
  </script>

</div>
