{% load static %}

<div class="obj__container-osd">

  <div id="obj__osd-toolbar">
    <div class="obj__osd-button-group">
      <button type="button" id="obj__osd-button-zoom-in" aria-label="zoom in" class="btn btn-default obj__osd-button">
        <span class="fa fa-plus fa-fw"></span>
      </button>
      <button type="button" id="obj__osd-button-zoom-out" aria-label="zoom out" class="btn btn-default obj__osd-button">
        <span class="fa fa-minus fa-fw"></span>
      </button>
      <button type="button" id="obj__osd-button-rotate-left" aria-label="rotate left" class="btn btn-default obj__osd-button">
        <span class="fa fa-rotate-left fa-fw"></span>
      </button>
      <button type="button" id="obj__osd-button-rotate-right" aria-label="rotate right" class="btn btn-default obj__osd-button">
        <span class="fa fa-rotate-right fa-fw"></span>
      </button>
      <button type="button" id="obj__osd-button-home" aria-label="reset" class="btn btn-default obj__osd-button">
        RESET
      </button>
      <button type="button" id="obj__osd-button-fullscreen" aria-label="toggle full page" class="btn btn-default obj__osd-button">
        <span class="fa fa-expand fa-fw"></span>
      </button>
    </div>
  </div>

  <div id="obj__osd"></div>

  <script src="{% static "node_modules/openseadragon/build/openseadragon/openseadragon.min.js" %}"></script>

  <script type="text/javascript">
    var tileSources = {{ item.contentFile.titleSources|safe }};
  </script>

</div>
