<div class="obj-container__simple-{% if item.reference_image_md5 or item.contentFile.format|lower == 'file' %}image{% else %}tile{% endif %}">

  <a class="obj__link"
    {% if item.harvest_type == "hosted" and item.contentFile.format|lower == 'file' %}
      href="javascript: void(0)" data-toggle="modal" data-target="#downloadModal"
    {% elif item.harvest_type == "harvested" %}
      href="{{ item.url_item }}"
    {% endif %}
  >
    {% if item.reference_image_md5 or item.contentFile.format|lower == 'file' %}
      <div class="obj__icon-container">
        {% if item.reference_image_md5 %}
          {% with item.reference_image_dimensions as dimensions %}
          <img class="obj__simple-image" src="{{ thumbnailUrl }}clip/500x500/{{ item.reference_image_md5 }}" alt="{{ item.title.0 }}" width={{dimensions.0}} height={{dimensions.1}} style="
            width:
              {% if dimensions.0 >= dimensions.1 %}
                {% if dimensions.0|add:0 > 500 %}
                  500px
                {% else %}
                  {{ dimensions.0 }}
                {% endif %}
              {% else %}
                auto
              {% endif %}; 
            height: 
              {% if dimensions.1 >= dimensions.0 %}
                {% if dimensions.1|add:0 > 500 %}
                  500px
                {% else %}
                  {{ dimensions.1 }}
                {% endif %}
              {% else %}
                auto
              {% endif %};">
          {% endwith %}
        {% elif item.contentFile.format|lower == 'file' %}
          <img class="obj__simple-image" src="{{ ucldcNuxeoThumbs }}{{ item.contentFile.id }}" alt="{{ item.title.0 }}">
        {% endif %}

        {% if item.harvest_type == "harvested" %}
          {% if item.type.0|lower != "text" %}
            <div class="obj__overlay-icon {{ item.type.0|lower|cut:' '}}"></div>
          {% endif %}
        {% endif %}
      </div>
    {% else %}
      <div class="thumbnail__container">
        <div class="obj__tile-icon {{ item.type.0|lower|cut:' '}}"></div>
      </div>
    {% endif %}
    <div class="obj__caption">
      {% if item.harvest_type == "hosted" %}
        {% if item.contentFile.format|lower == 'file' %}
          Click here to view text. May contain additional pages. 
        {% endif %}
      {% elif item.harvest_type == "harvested" %}
        {% if item.type.0|lower == 'moving image' %}
          Play video
        {% elif item.type.0|lower == 'sound' %}
          Play audio
        {% elif item.type.0|lower == 'text' %}
          Read item
        {% elif item.type.0|lower == "dataset" %}
          View dataset
        {% elif item.type.0|lower == "image" %}
          View source image
        {% else %}
          View source
        {% endif %}
         on
        {% if item.oac == True %}
          the Online Archive of California.
        {% elif item.harvest_type == 'harvested' %}
          contributor's website.
        {% endif %}
      {% endif %}
    </div>
  </a>

</div>
