{% load staticfiles %}

<!doctype html>
<html lang="en" class="no-js no-jquery">
  <head>
    <title>Calisphere: The deeper you look, the more you discover.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="robots" content="noindex" />
    <link rel="apple-touch-icon-precomposed" href="/favicon-152x152.png?v=2">
    {% if devMode %}
      <link rel="stylesheet" href="{% static "node_modules/font-awesome/css/font-awesome.css" %}" />
      <link rel="stylesheet" href="{% static "node_modules/mediaelement/build/mediaelementplayer.css" %}" />
      <link rel="stylesheet" href="{% static "styles/main.css" %}" />
    {% else %}
      <link rel="stylesheet" href="{% static "styles/vendor.css" %}" />
      <link rel="stylesheet" href="{% static "styles/main.css" %}" />
    {% endif %}
    <script>
      //no-jquery class is now effectively a no-js class
      document.getElementsByTagName('html')[0].classList.remove('no-jquery');
    </script>
    {% include "calisphere/ga_site_code.html" %}
  </head>
  <body>

    <div class="container-fluid">
      <header class="header">
        <button class="header__mobile-nav-button js-global-header__bars-icon" aria-label="navigation">
          <i class="fa fa-bars"></i>
        </button>
        <a class="header__logo js-global-header-logo" href="{% url 'calisphere:home' %}">
          <img src="{% static 'images/logo-calisphere.svg' %}" alt="Calisphere">
        </a>
        <button class="header__mobile-search-button js-global-header__search-icon" aria-label="search">
          <i class="fa fa-search"></i>
        </button>

        <div class="header__search mobile-nav__item js-global-header__search is-closed">
          <form class="global-search" role="search" id="js-searchForm" action="{% url 'calisphere:search' %}" method="get">
            <label for="header__search-field" class="global-search__label">Search over one million items</label>
            <div class="input-group">
              <input id="header__search-field" form="js-searchForm" name="q" value="{{ q }}" type="search" class="form-control global-search__field js-globalSearch">
              <span class="input-group-btn">
                <button class="btn btn-default global-search__button" type="submit" aria-label="search">
                  <span class="fa fa-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
        <div class="header__nav js-global-header__mobile-links is-closed" aria-expanded="false">
          <nav class="header-nav mobile-nav">
            <ul>
              <li>
                <a href="{% url 'calisphere:campusDirectory' %}" data-pjax="js-pageContent">Contributing Institutions</a>
              </li>
              <li>
                <a href="{% url 'calisphere:collectionsDirectory' %}" data-pjax="js-pageContent">Collections</a>
              </li>
              <li>
                <a href="{% url 'exhibits:randomExplore' %}" data-pjax="js-pageContent">Exhibitions</a>
              </li>
              <li>
                <a href="{% url 'calisphere:about' %}" data-pjax="js-pageContent">About</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <div id="js-pageContent">
        
        <div style="margin: -10px -20px 0 -20px; background-color: lightgray">
          <div style="text-align: center">
            <div style="display: inline-block;">
              <div style="position: relative; min-height: 1px;">
                <h1 class="text-404">
                  Whoops! Something went wrong here!
                </h1>
                <h3 class="msg-404">404: Not Found</h3>

                <img class="obj__simple-image" 
                  src="{{ thumbnailUrl }}clip/800x800/79643fd3198deb689c7f6b7493bd80e9" 
                  alt="Toe stuck in a bowling ball [graphic]">
                
                <form role="search" id="js-homeForm" action="{% url 'calisphere:search' %}" method="get">
                  <div style="display: block; position: absolute; top: 0; left: 0; right: 0; padding: 30% 25% 0; text-align: center;">
                    <label for="home__search-field" class="sr-only">Try another search</label>
                    <div class="input-group">
                      <input id="home__search-field" form="js-homeForm" type="search" class="form-control input-lg" placeholder="Try another search" name="q">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-lg home__search-button" type="submit">
                        </button>
                      </span>
                    </div>
                    <p style="margin-top: 20px; color: #fff;">
                      If you think this is a problem with Calisphere, please 
                      <a href="/contact/" data-pjax="js-pageContent">
                        contact us.
                      </a>
                      <br/>
                      Or return to the <a href="/" data-pjax="js-pageContent">homepage.</a>
                    </p>
                  </div>
                </form>

                <a style="color: #fff" href="{% url 'calisphere:itemView' '8fb1debdaadcaa4ac974d9c420782669' %}">
                  <div 
                  style="display: block; position: absolute; bottom: 0; left: 0; right: 0; padding: 20px 10px 10px; 
                  color: #fff; text-align: right; font-size: .9em; background: linear-gradient(transparent,rgba(0,0,0,.8))">
                    Toe stuck in a bowling ball / Los Angeles Public Library</a>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <a class="footer__logo js-global-header-logo" href="{% url 'calisphere:home' %}">
          <img src="{% static 'images/logo-calisphere.svg' %}" alt="Calisphere">
        </a>

        <div class="footer__search mobile-nav__item">
          <form class="global-search" role="search" id="js-footerSearch" action="{% url 'calisphere:search' %}" method="get">
            <label for="footer__search-field" class="global-search__label">Search over one million items</label>
            <div class="input-group">
              <input id="footer__search-field" form="js-footerSearch" name="q" value="{{ q }}" type="search" class="form-control global-search__field js-globalSearch">
              <span class="input-group-btn">
                <button class="btn btn-default global-search__button" type="submit" aria-label="search"><span class="fa fa-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>

        <div class="footer__nav">
          <nav class="footer-nav mobile-nav" aria-label="footer navigation">
            <ul>
              <li>
                <a href="{% url 'contact_form' %}" data-pjax="js-pageContent">
                  Contact Us
                </a>
              </li>
              <li>
                <a href="{% url 'calisphere:about' %}" data-pjax="js-pageContent">
                  About
                </a>
              </li>
              <li>
                <a href="{% url 'calisphere:help' %}" data-pjax="js-pageContent">
                  FAQs
                </a>
              </li>
              <li>
                <a href="{% url 'calisphere:campusDirectory' %}" data-pjax="js-pageContent">
                  Contributing Institutions
                </a>
              </li>
              <li>
                <a href="{% url 'calisphere:collectionsDirectory' %}" data-pjax="js-pageContent">
                  Collections
                </a>
              </li>
              <li>
                <a href="{% url 'exhibits:randomExplore' %}" data-pjax="js-pageContent">
                  Exhibitions
                </a>
              </li>
              <li>
                <a href="{% url 'calisphere:termsOfUse' %}" data-pjax="js-pageContent">
                  Terms of Use
                </a>
              </li>
              <li>
                <a href="{% url 'calisphere:privacyStatement' %}" data-pjax="js-pageContent">
                  Privacy Statement
                </a>
              </li>
              <li>
                <a href="https://www.cdlib.org/about/accessibility.html">Accessibility</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="footer__copyright">
          Calisphere is a service of the <a href="http://libraries.universityofcalifornia.edu/">UC Libraries</a>, powered by the <a href="http://www.cdlib.org/">California Digital Library</a>.
        </div>
        <div class="footer__social-icons" role="group" aria-labelledby="footer-connect-label">
          <span id="footer-connect-label">Connect with us:</span>
          <a class="footer__twitter-icon"
             href="https://twitter.com/calisphere"
             aria-label="Calisphere on Twitter"><span class="fa fa-twitter-square"></span>
          </a>
          <a class="footer__facebook-icon"
             href="https://www.facebook.com/calisphere"
             aria-label="Calisphere on Facebook"><span class="fa fa-facebook-square"></span>
          </a>
        </div>
      </footer>
      </div>


    </div>
    {% include "calisphere/scripts.html" %}
    <script src="{% static "scripts/calisphere-home.js" %}"></script>
  </body>
  <script>
    if (typeof ga !== 'undefined') {
      ga('caliga.set', 'location', window.location.href);
      ga('caliga.send', 'event', 'error', '404', 'source: django');
    }
  </script>
</html>
