{% extends "calisphere/searchResults.html" %}
{% load calisphere-extras %}
{% load staticfiles %}
{% load humanize %}

{% block breadcrumbs %}{% endblock %}

{% block pageTitle %}
  <nav class="breadcrumb--style1" aria-label="breadcrumb navigation">
    <ul>
      <li>
        <a href="{% url 'calisphere:collectionsDirectory' %}" data-pjax="js-pageContent">Collections</a>
      </li>
      <li>
        <a href="{% url 'calisphere:collectionView' collection_id %}"
           data-pjax="js-pageContent">
          {{ collection.name }}
        </a>
      </li>
    </ul>
  </nav>

  <h1 id="js-collection" data-collection="{{ collection_id }}" data-referralName="{{ collection.name }}">
    {{ facet.display|title }}{{ unique|pluralize }} in {{ collection.name }}
  </h1>
{% endblock %}

{% block additionalInfo %}
  <div class="collection-intro" data-ga-dim1="{{ collection.local_id }}{{ collection.slug }}">
    <div class="col-md-3">
      <div class="collection-intro__institution">
        <h2 class="collection-intro__institution-heading">Collection:
          <a class="collection-intro__instition-heading-link" 
           href="{% url 'calisphere:collectionView' collection_id %}" 
           data-pjax="js-pageContent">
            {{ collection.name }}
          </a>
        </h2><br/>
        <h2 class="collection-intro__institution-heading">Owning Institution{{ collection.repository|pluralize }}:
          {% for repository in collection.repository %}
            {% if 'campus' in repository and repository.campus.0.name %}
              <a
                href="{% url 'calisphere:campusView' repository.campus.0.slug 'collections' %}"
                class="collection-intro__institution-heading-link"
                data-pjax="js-pageContent"
              >{{ repository.campus.0.name }}</a>,
            {% endif %}
            <a
              href="{% url 'calisphere:repositoryView' repository.resource_id 'collections' %}"
              class="collection-intro__institution-heading-link"
              data-pjax="js-pageContent"
              data-ga-code="{{ repository.google_analytics_tracking_code }}"
              data-ga-dim2="{%if 'campus' in repository and repository.campus.0.name %}{{ repository.campus.0.slug }}-{% endif %}{{ repository.slug }}"
            >
              {{ repository.name }}
            </a>
            {% if forloop.counter < collection.repository|length %} and {% endif %}
          {% endfor %}
        </h2>
      </div>
    </div>

    <div class="col-md-9">
      <div class="collection-intro__about">
        {% if 'description' in collection %}
        <h3 class="collection-intro__about-heading">About this Collection</h3>
          <span class="collection-intro__about-description">
            {{ collection.description|urlize }}
          </span>
        {% endif %}
        {% if collection.url_local|length > 0 %}
          <a class="collection-intro__about-link" href="{{ collection.url_local }}" target="_blank">View this collection on the contributor's website.</a><br/>
        {% endif %}
        {% if collection.url_oac|length > 0 %}
          <a class="collection-intro__about-link" href="{{ collection.url_oac }}" target="_blank">View collection guide.</a>
        {% endif %}
        <label for="{{ collection_id }}" aria-hidden="true" class="display-none">Current Collection ID</label>
        <input id="{{ collection_id }}" class="facet js-facet facet-collection_data display-none" form="js-facet" type="checkbox" name="collection_data" value="{{ collection_id }}" checked aria-hidden="true">

      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
<div class="row">
<!--   <div class="col-sm-6 col-md-12">
    <div class="button__institution-tabs-container">
      <a class="button__institution-tab-collections"
      href="{% url 'calisphere:collectionBrowse' collection_id %}" data-pjax="js-pageContent">
        Browse collection
      </a>
      <a class="button__institution-tab-search" href="{% url 'calisphere:collectionView' collection_id %}" data-pjax="js-pageContent">
        Search this collection
      </a>
    </div>
  </div> -->
  <div class="col-sm-6 col-md-12">
    <a class="btn btn-default button__back-to-institution" href="{% url 'calisphere:collectionBrowse' collection_id %}" data-pjax="js-pageContent">
      <span class="fa fa-angle-left fa-lg fa-fw"></span>
      Browse Collection
    </a>
  </div>
  <div class="col-sm-6 col-md-12">
    <div class="snapshot">
      <h3>Collection Snapshot</h3>
        <h4><span class="collection_browse-item_count">{{ item_count|intcomma }}</span> total items in this collection</h4>
        {% for cluster in clusters %}
          <h5>{% if cluster.facet_field.facet == facet.facet %}<strong>{% endif %}{{ cluster.unique|intcomma }} unique {{ cluster.facet_field.display|lower }}{% if cluster.facet_field.display != 'rights' %}s{% endif %}{% if cluster.facet_field.facet == facet.facet %}</strong>{% endif %}</h5>
        {% endfor %}
    </div>
  </div>
  <div class="col-sm-6 col-md-12">

      <!-- Begin Search Within Field -->
      <!-- End Search Within Field -->

  </div>
</div>
{% endblock %}

{% block filters %}{% endblock %}

{% block mainContent %}
<h2 class="text__institution-heading2">{{ unique|intcomma }} unique {{ facet.display|lower }}{{ unique|pluralize }} in this collection</h2>
<!-- <p>There are {{ unique|intcomma }} unique {{facet}}{{ unique|pluralize }} used in this collection of {{ records|intcomma }} items. For each {{facet}} cluster, the number in parentheses shows how many items share that {{facet}}. <strong>{{ facet|title }} Uniqueness Rating: {{ ratio }}%</strong></p> -->
<div class="collection-cluster-form">
  <form id="js-collectionFacetForm" action="{{ form_action }}">
    {% if view_format == 'grid' %}
    <button id="grid" class="btn btn-link js-view_format-toggle">
      <span class="fa fa-th-large"></span> Grid
    </button>
    <button id="list" class="btn btn-link thumblist-toggle__list js-view_format-toggle">
      <span class="fa fa-th-list"></span> List
    </button>
    {% else %}
    <button id="grid" class="btn btn-link thumblist-toggle__thumbnails js-view_format-toggle">
      <span class="fa fa-th-large"></span> Grid
    </button>
    <button id="list" class="btn btn-link js-view_format-toggle">
      <span class="fa fa-th-list"></span> List
    </button>
    {% endif %}
    <input type="hidden" name="view_format" value="{{ view_format }}">

    <select name="sort" id="js-sort-selector" class="collection-cluster-form__sort-selector">
      <option {% if sort == "largestFirst" %}selected{% endif %} value="largestFirst">
        Largest item count first
      </option>
      <option {% if sort == "smallestFirst" %}selected{% endif %} value="smallestFirst">
        Smallest item count first
      </option>
      <option {% if sort == "az" %}selected{% endif %} value="az">
        A-Z
      </option>
      <option {% if sort == "za" %}selected{% endif %} value="za">
        Z-A
      </option>
    </select>
    {% if view_format == 'grid' %}
      Viewing 25 of {{ unique|intcomma }}
    {% endif %}
  </form>
</div>

{% if view_format == 'grid' %}
<div class="row">
  {% for value in values %}
    <div class="col-xs-6 col-sm-6 col-md-3">
      <a href="{{ value.uri }}?view_format=list" data-pjax="js-pageContent">
      <div class="cluster-container">
        <div class="cluster-thumbnail__container">
          {% for thumb in value.thumbnails %}
            {% if forloop.counter0 == 1 %}
            <div class="cluster-thumbnail__container2">
            {% endif %}

            <div class="cluster-thumbnail__{{forloop.counter0}}"
              style="background-image: url({{ thumbnailUrl }}crop/210x210/{{ thumb.reference_image_md5 }})">

              {% if 'reference_image_md5' in thumb %}
                {% if thumb.type_ss.0|lower == "moving image" %}
                <div class="thumbnail__overlay-icon fa-play-circle-o"></div>
                {% elif thumb.type_ss.0|lower == "sound"%}
                <div class="thumbnail__overlay-icon fa-volume-up"></div>
                {# elif thumb.type_ss.0|lower == "text" #}
                <!-- <div class="thumbnail__overlay-icon fa-file-text-o"></div> -->
                {% elif thumb.type_ss.0|lower == "dataset" %}
                <div class="thumbnail__overlay-icon fa-bar-chart"></div>
                {% endif %}

              {% else %}
                {% if thumb.type_ss.0|lower == "moving image" %}
                <div class="thumbnail__tile-icon fa-play-circle-o"></div>
                {% elif thumb.type_ss.0|lower == "sound"%}
                <div class="thumbnail__tile-icon fa-volume-up"></div>
                {% elif thumb.type_ss.0|lower == "text"%}
                <div class="thumbnail__tile-icon fa-file-text-o"></div>
                {% elif thumb.type_ss.0|lower == "dataset" %}
                <div class="thumbnail__tile-icon fa-bar-chart"></div>
                {% elif thumb.type_ss.0|lower == "image" %}
                <div class="thumbnail__tile-icon fa-picture-o"></div>
                {% endif %}
              {% endif %}

            </div>
          {% endfor %}

          {% if value.thumbnails|length > 1 %}
          </div>
          {% endif %}

        </div>
        <a href="{{ value.uri }}?view_format=list" data-pjax="js-pageContent">{{ value.label }}</a> ({{value.count|intcomma}})
      </div>
      </a>
    </div>
  {% endfor %}
</div>
{% else %}
{% for value in values %}
<div>
  <a href="{{ value.uri }}?view_format=list" data-pjax="js-pageContent"> {{ value.label }}</a>
  ({{ value.count|intcomma }})
</div>
{% endfor %}
{% endif %}

{% endblock %}