{% extends "calisphere/searchResults.html" %}
{% load calisphere-extras %}
{% load staticfiles %}
{% load humanize %}

{% block title %}: {{ collection.name }}{% endblock %}
{% block page-metadata %}
{% include "calisphere/microdata.html" with title=collection.name description=collection.description %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block pageTitle %}
  <nav class="breadcrumb--style1" aria-label="breadcrumb navigation">
    <ul>
      <li>
        <a href="{% url 'calisphere:collectionsDirectory' %}" data-pjax="js-pageContent">Collections</a>
      </li>
    </ul>
  </nav>

  <h1 id="js-collection" data-collection="{{ collection_id }}" data-referralName="{{ collection.name }}">
    {{ collection.name }}
  </h1>
{% endblock %}

{% block additionalInfo %}
<div class="collection-intro" data-ga-dim1="{{ collection.local_id }}{{ collection.slug }}">
  <div class="col-md-3">
    <div class="collection-intro__institution">
      <h2 class="collection-intro__institution-heading">Owning Institution{{ collection.repository|pluralize }}:
        {% for repository in collection.repository %}
          {% if 'campus' in repository and repository.campus.0.name %}
            <a
              href="{% url 'calisphere:campusView' repository.campus.0.slug 'collections' %}"
              class="collection-intro__institution-heading-link"
              data-pjax="js-pageContent"
            >{{ repository.campus.0.name }}</a>,
          {% endif %}
          <a
            href="{% url 'calisphere:repositoryView' repository.resource_id 'collections' %}"
            class="collection-intro__institution-heading-link"
            data-pjax="js-pageContent"
            data-ga-code="{{ repository.google_analytics_tracking_code }}"
            data-ga-dim2="{%if 'campus' in repository and repository.campus.0.name %}{{ repository.campus.0.slug }}-{% endif %}{{ repository.slug }}"
          >
            {{ repository.name }}
          </a>
          {% if forloop.counter < collection.repository|length %} and {% endif %}
        {% endfor %}
      </h2>
    </div>
  </div>

  <div class="col-md-9">
    <div class="collection-intro__about">
      {% if 'description' in collection %}
      <h3 class="collection-intro__about-heading">About this Collection</h3>
        <span class="collection-intro__about-description">
          {{ collection.description|urlize }}
        </span>
      {% endif %}
      {% if collection.url_local|length > 0 %}
        <a class="collection-intro__about-link" href="{{ collection.url_local }}" target="_blank">View this collection on the contributor's website.</a><br/>
      {% endif %}
      {% if collection.url_oac|length > 0 %}
        <a class="collection-intro__about-link" href="{{ collection.url_oac }}" target="_blank">View collection guide.</a>
      {% endif %}
      <label for="{{ collection_id }}" aria-hidden="true" class="display-none">Current Collection ID</label>
      <input id="{{ collection_id }}" class="facet js-facet facet-collection_data display-none" form="js-facet" type="checkbox" name="collection_data" value="{{ collection_id }}" checked aria-hidden="true">

    </div>
  </div>

</div>
{% endblock %}

{% block sidebar %}
<div class="row">
  <div class="col-sm-6 col-md-12">
    <div class="button__institution-tabs-container">
      <a class="button__institution-tab-collections--selected"
      href="{% url 'calisphere:collectionBrowse' collection_id %}" data-pjax="js-pageContent">
        Browse collection
      </a>
      <a class="button__institution-tab-search" href="{% url 'calisphere:collectionView' collection_id %}" data-pjax="js-pageContent">
        Search this collection
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-md-12">
    {% if collection.repository|length > 1 %}
    {% for repository in collection.repository %}
      <a class="btn btn-default button__back-to-institution" href="{% url 'calisphere:repositoryView' repository.resource_id 'collections' %}" data-pjax="js-pageContent">
        <span class="fa fa-angle-left fa-lg fa-fw"></span>
        Go to {{ repository.name }} Page
      </a>
    {% endfor %}
    {% else %}
    {% with collection.repository.0 as repository %}
      <a class="btn btn-default button__back-to-institution" href="{% url 'calisphere:repositoryView' repository.resource_id 'collections' %}" data-pjax="js-pageContent">
        <span class="fa fa-angle-left fa-lg fa-fw"></span>
        Go to Institution Page
      </a>
    {% endwith %}
    {% endif %}
  </div>
  <div class="col-sm-6 col-md-12">
    <div class="snapshot">
      <h3>Collection Snapshot</h3>
        <h4><span class="collection_browse-item_count">{{ item_count|intcomma }}</span> total items in this collection</h4>
        {% for cluster in clusters %}
          <h5>{{ cluster.unique|intcomma }} unique {{ cluster.facet_field }}{% if cluster.facet_field != 'rights' %}s{% endif %}</h5>
        {% endfor %}
    </div>
  </div>
  <div class="col-sm-6 col-md-12">

      <!-- Begin Search Within Field -->
      <!-- End Search Within Field -->

  </div>
</div>
{% endblock %}

{% block filters %}{% endblock %}

{% block mainContent %}
  {% for cluster in clusters %}
  <div class="row explore-clusters">
    <div class="col-md-5 cluster-listing">
      <h3>Explore {{ cluster.facet_field|title }}{% if cluster.facet_field != 'rights' %}s{% endif %} Used in this Collection</h3>
      <h4>Three Sample {{ cluster.facet_field|title }}{% if cluster.facet_field != 'rights' %}s{% endif %}</h4>
      <ol>
        {% for value in cluster.values %}
          {% if forloop.counter0 < 3 %}
          <li>
            {% if forloop.counter0 == 0 %}<strong>{% endif %}
              <a href="{% url 'calisphere:collectionFacetValue' collection_id cluster.facet_field value.label|qencode %}?view_format=list" data-pjax="js-pageContent">{{ value.label }} ({{ value.count|intcomma }} items)</a>
            {% if forloop.counter0 == 0 %}</strong>{% endif %}
          </li>
          {% endif %}
        {% endfor %}
      </ol>
      <h4>Search for a {{cluster.facet_field}}</h4>
      <form class="clustersearch__form-{{cluster.facet_field}}" role="search" onsubmit="false()">
        <label for="clustersearch__field-{{cluster.facet_field}}" class="sr-only">
          Search for a {{cluster.facet_field}}
        </label>
        <div class="input-group">
          <input id="clustersearch__field-{{cluster.facet_field}}" type="search" placeholder="Search for a {{cluster.facet_field}}" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default global-search__button" type="submit" aria-label="search"><span class="fa fa-search"></span>
              </button>
            </span>
          </input>
        </div>
      </form>

      <h4><a href="{{ form_action }}{{ cluster.facet_field }}/" data-pjax="js-pageContent">See all {{ cluster.unique|intcomma }} unique {{ cluster.facet_field }}{% if cluster.facet_field != 'rights' %}s{% endif %}</a></h4>
    </div>
    <div class="col-md-7">
      <div class="cluster-thumbnail__container">
        {% for thumb in cluster.thumbnails %}
          {% if forloop.counter0 <= 0 %}
          <div class="cluster-thumbnail__{{forloop.counter0}}"
            style="background-image: url({{ thumbnailUrl }}crop/210x210/{{ thumb }})">
  <!--               <img class="thumbnail__image"
              src="{{ thumbnailUrl }}crop/210x210/{{ thumb }}"
                  srcset="{{ thumbnailUrl }}crop/210x210/{{ thumb }} 60w, {{ thumbnailUrl }}crop/310x310/{{ thumb }} 50w"
                  sizes="100vw"
                  alt=""> -->
          </div>
          {% endif %}
        {% endfor %}
        <div class="cluster-thumbnail__container2">
          {% for thumb in cluster.thumbnails %}
            {% if forloop.counter0 > 0 %}
            <div class="cluster-thumbnail__{{forloop.counter0}}" style="
              background-image: url({{ thumbnailUrl }}crop/210x210/{{ thumb }})">
  <!--                 <img class="thumbnail__image"
                src="{{ thumbnailUrl }}crop/210x210/{{ thumb }}"
                    srcset="{{ thumbnailUrl }}crop/210x210/{{ thumb }} 60w, {{ thumbnailUrl }}crop/310x310/{{ thumb }} 50w"
                    sizes="100vw"
                    alt=""> -->
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <script>
  var cluster_fields = [];
  {% for cluster in clusters %}
  cluster_fields.push('{{ cluster.facet_field }}');
  {% endfor %}

  var clusters = {
    'collection_id': {{collection_id}},
    'clusters': cluster_fields
  };
  </script>
{% endblock %}